[2012-01-26 23:20] tmueller opened #33 "make uri_for receive a name for a route"
This is something for the wishlist, not an issue itself.

Right now uri_for converts a relative path to an absolute path and attaches parameters if necessary.

In case you have to change a path in your controller, you have to search all your templates, to find where this path was used and change your templates accordingly.

My idea would be to provide a name for a route and use that name to identi

[2012-07-01 15:59] dsheroh opened #47 "Add support for additional configuration files"
Applications often require local configuration settings (e.g., database connection info, support email address, etc.) which should neither propagate back into the master copy of the app nor preclude updating the local copy when the master adds new config settings.  To allow for this, Dancer should support a configuration loading order along the lines of:

config.yml, config.local,yml, [environment

[2013-05-12 22:26] yanick opened #263 "Support for streaming"
Have a (sub-class?) of D::C::Response that can deal with streaming output. And maybea 'steam' keyword so that we can do:

[code]

[2013-09-15 19:51] veryrusty opened #462 "Rewrite Dancer2 Error objects"
From #209 (as its own issue, before it gets lost)

[2013-09-22 09:41] azawawi opened #478 "Strange behavior of Plack+Shotgun on Windows"
**On Windows, you need to add ```-Ilib```** for a new Dancer 0.09 fresh application to work under Plack+Shotgun:

[code]
Otherwise you will get the following error when you access http://127.0.0.1:5000:

[code]

**On linux, you do not need to add the ```-Ilib```**

[2013-11-24 22:01] e11it opened #510 "Hooks for plugins not registered"
It's possible to register hook only for last included plugin.
I have modified test to demonstrate this issue.

Please take a look: https://github.com/e11it/Dancer2/commit/9ed2da3bd2d8c211e7fa11dad78c5715f32b21ea

Test fails with:
[code]

[2014-03-12 13:30] bigpresh opened #530 "Use Data::Censor ?"
At work, we were using the censoring code from Dancer1's `Dancer::Error` - but I needed to be able to customise the fields a bit, and felt dirty calling a private method from another package - and so, the censoring code was gently lifted from `Dancer::Error`, polished up a bit, and `Data::Censor` was born:

https://metacpan.org/release/Data-Censor

I think it would make sense to make use of that c

[2014-04-04 09:11] baynes opened #558 "Prefix inconsistency"
If I have the following routes:
prefix undef;
get '/a' ... it matches '/a' and does not match '/a/'.
get '/b/' ... it matches '/b/' and does not match '/b'.
which is what I would expect.

But if I write the following:
prefix '/b'; get '/' ... it matches '/b' and '/b/'.
But I would expect it to behave as get '/b/' ... above.

It can give some nasty surprises if one has relative links in the generat

[2014-04-09 11:27] baynes opened #565 "config error_template does not work"
According to Dancer2::Config one can

error_template (template path)

This setting lets you specify a template to be used in case of runtime error. At the present moment the template can use three variables:

However this does not work.

Delving in Dancer2::Core::Error it seems that what it actually does is
  use a serializer if one is set
  use $views/$error_code.tt if exists [ not documented ]

[2014-04-25 09:45] TheAthlete opened #574 "Setting template and engines with set work incorrect"
Hello!
 I can't set the parameters of engines and template using the set keyword, if you set these options, goes in such sequence:

set template => '...';
set engines => {};

the parameters of the engines are not installed. If in such sequence

set engines => {};
set template => '...';

then everything is fine.
 But if I use templates in DATA sections, the options parameter settings using configur

[2014-05-14 09:54] baynes opened #586 "Internal server errors in Dancer code should not include stack trace in response."
Perl errors (in Dancer outside routes) give a stack trace in the error page.

[code]

[Above using Apache with Fast CGI to talk to Plackup which runs dancer.]

The stack trace should not normally be included in the error response as it may leak information that could be used to attack the server. It should be logged to the logfile instead.

The relevant code is the eval in sub psgi_app in Dancer2:

[2014-06-04 11:29] dams opened #599 "Plugins implementation"
This is a dump of my brain after we talked about it with @xsawyerx and @mickeyn

## we need Dancer::API

- DSL implementations will only use Dancer::API, no direct access to app or other core stuff
- Plugins will only use Dancer::API, no direct access to app or other core stuff
- dancer api will have the main core features exposed here
- when we change Dancer::API, we know we need to bump major ve

[2014-06-04 12:15] xsawyerx opened #600 "Separate the middleware to a builder"
In a discussion on plugins (#599), we raised the idea of using a `Plack::Builder` all the time, and then allow plugins to add middlewares.

I know exactly how I want to implement it, in this case:
Have a Builder attribute and add `handles` to the `add_middleware` method and have that available in the DSL.

This is a two part process. This issue is the first one. I'm opening another issue for the s

[2014-06-04 12:18] xsawyerx opened #601 "Provide a way for plugins to add middlewares to the stack"
In issue #600 we discuss having a `Plack::Builder` object. Once we figure out the plugin implementation (#599), we should a way in the API to add stuff to that middleware stack.

[2014-07-03 11:45] dolmen opened #608 "Dancer2::Tutorial has two "COPYRIGHT AND LICENSE" sections"
The [Dancer2::Tutotial](https://metacpan.org/pod/Dancer2::Tutorial#COPYRIGHT-AND-LICENSE) has 2 different sections "COPYRIGHT AND LICENSE".
Of course, both have different content.

[2014-07-17 20:21] xsawyerx opened #619 "Updating Dancer2 Plugins"
There's a few modules which needs updating to meet latest Dancer2 releases. This includes both the last master, and the context untangling branch.

List:
* [Dancer2::Session::Cookie](https://github.com/PerlDancer/Dancer2-Session-Cookie)

**master**: patched. Waiting for release. @yanick has the keys.
Submitted https://github.com/PerlDancer/Dancer2-Session-Cookie/pull/9.

* [Dancer2::Plugin::Feed](

[2014-07-30 16:54] LionsPhil opened #644 "to_json masks exceptions thrown by JSON"
`JSON::to_json` will die if you pass it objects without its `allow_blessed` options. Dancer's `to_json` keyword wrapping this masks these exceptions. It is not clear if this is intentional or a documentation omission (drilling down through the code I can't see where the exception is actually being caught). It seems more correct to me that it should not mask them, since the effect of returning unde

[2014-08-14 12:28] frezik opened #659 "Implement send_file() hooks for sending filehandle"
The send_file() call is documented to be able to send data from a filehandle using several different callbacks.  It doesn't appear that any of the callbacks are currently called. Here's a Perl Monks thread showing my different attempts:

http://perlmonks.org/?node_id=1097361

This is using Dancer2 version 0.143000.

Better still would be to have the filehandle be passed directly without needing ca

[2014-08-27 11:26] burnersk opened #672 "Can't find view in blib when using dzil test"
Issue is that when you are trying to test just a Dancer2 app skeleton with dzil test Dancer2 can't find the views because it tries to find it within blib folder from the dzil test build.

How to solve this? prove works of course because it does not create a test build before.

When Dancer2 find itself within blib it should set views folder to ../views

[2014-09-21 11:27] xsawyerx opened #697 "Setting response using DSL"
While working on delayed responses, I realized one big issue we still have missing. You cannot set the content via DSL.

Setting the content is done by returning a response. You can alternatively go to the app and set it in the response:

    app->response->content( template index => {...} );

You can go to the response and set it there:

    response->content( template index => {...} );

This is

[2014-10-08 15:17] simonbrent opened #719 "to_json and from_json are very expensive if called in a big loop"
Because they create a new Dancer2::Serializer::JSON object every time, calling to_json or from_json in a loop can add significant execution time.

I have an example with a loop iterating over about 9000 entries, each with a json string I need to turn into a hashref. In this case, calling Dancer2::from_json took about a second, while calling JSON::from_json took about 0.01 seconds.

Would you consi

[2014-10-30 14:33] xsawyerx opened #739 "params keyword should return Hash::MultiValue"
We raised this problem in #726, which contains the entire discussion around it.

[2014-10-30 14:44] xsawyerx opened #740 "Replace param() keyword"
`param` keyword is tricky. It says "please fetch the values of a single parameter key", while it's still susceptible to having multiple values vs. single values.

This means that:

    my $value = param('key');

might return a single value (if a single value was provided by the user) or a single value of arrayref (if multiple values were provided by the user).

This is not just confusing, it's a w

[2014-10-31 11:45] ambs opened #743 "Define a proper deprecation policy"
Hello

There was some "discussion" between me and @xsawyerx about deprecation of `param`. Not that we disagree on deprecating it, but rather, we disagree on what is deprecation.

So, this thread is to ask for a proper discussion on what is deprecation for Dancer2.

In my point of view, the definition of deprecation we had in the old days for Dancer was working well:

   1 First, the deprecated fun

[2014-11-06 15:16] racke opened #754 "Calling plugins inside plugins crashing"
This works in Dancer1 and is definitely a needed feature - we don't want code duplication and we want KISS.

Demonstrated by test in https://github.com/racke/Dancer2-Plugin-Auth-Extensible-Provider-DBIC.

Output:

[code]

[2014-11-07 15:49] xsawyerx opened #757 "Default behavior for logger?"
What should be the default behavior if no logger has been specified? Do we want the STDERR logger, do we want the capture logger?

What do you think?

[2014-11-11 10:47] shumphrey opened #762 "404s cause internal server error if you use a 404 template"
This is related to the various scoping issues.
If you use a views/404.tt, and you try and go to a route that doesn't exist, you will get an internal server error(500), not a 404.

This is because the templating system requires the request and session, but by the time sub response_not_found is called, all the engines have had their request and session objects cleared by cleanup()

[2014-11-23 23:15] xsawyerx opened #767 "Serializer errors"
Serializers could crash when trying to serialize and deserialize.

We check for it using a `try{}catch{}`, but we don't do anything about it. We don't have a hook for serializer errors, and we don't have proper content in case it fails.

[2014-11-24 00:12] xsawyerx opened #769 "Rename show_errors as show_stacktrace?"
`show_errors` actually means to show stacktrace. It's confusing. Wouldn't be better to rename it to `show_stacktrace`?

We can still support `show_errors`, but at least now there's a more descriptive configuration.

[2014-11-28 09:50] DavsX opened #785 "Guide for Dancer2 developers"
Hi!
Is there a guide for Dancer2 developers? (I mean for people, who are working _on_ Dancer2, not with it).
I was looking for a doc's about how to run the local version of Dancer2 (the git directory), when I have Dancer2 already installed via cpanm. Ultimately this is the way of test for example changes I make locally on a real Dancer2 app (useful for debugging etc).

Secondly I was looking for a

[2014-11-29 17:10] xsawyerx opened #793 "Make prefix a full spec like a path"
Currently the `prefix` can only be a simple string, it cannot be a regexp in and of itself. We should allow it to have the same spec as a regular path.

This is mentioned (and, in a way, is part of) #558.

[2014-12-02 13:29] dboehmer opened #795 "Serializer::Mutable success depends on prior requests"
This might be a duplicate or a side effect of #794. When I tested several JSON/YAML requests of changing types I noticed that some fail which had worked before. The following is the most minimal example I was able to write.

Different combinations of HTTP content type and actual data format are tried. Some fail with an uncatchable exception (see #794) but that is not the point of this issuee. Mind

[2014-12-17 12:16] szabgab opened #816 "Migration: session_domain was renamed to cookie_domain"
As far as I'v just found out the session_domain configuration option has been removed
Instead of that there is one called cookie_domain. If that's the case, it would be nice if you could explain in the migration document, how the session management changed.

[2015-01-02 10:52] DavsX opened #822 "Route cache"
Hi!
I've noticed [this](https://github.com/PerlDancer/Dancer2/blob/master/lib/Dancer2/Core/App.pm#L1111) #TODO comment in Dancer2::Core::App about using a route cache. Is somebody working on that && should we discuss it (would it be doable and useful)?
I'd think we could use some kind of path_info => route_object kind of cache to speed up dispatching, however I'm unsure about how to proceed in cas

[2015-01-02 21:04] ambs opened #825 "Add a README.md"
Add a readme file to the root folder of the repository with minor information, like the link to our website.

[2015-01-02 21:06] ambs commented on #769
Just for reference, this includes:

  * changing tests (if any)
  * change the default config file
  * update configuration
  * update the code itself.

And :+1: from me.

[2015-01-07 12:05] msouth commented on #769
One good thing about show_stacktrace is that most developers are going to immediately know that this variable is something about output meant for consumption by developers.

[2015-01-07 12:24] hvoers commented on #754
This must be at the top off all todo lists.

[2015-01-07 12:31] racke commented on #754
"must" is a bit strong ... but a big boulder in terms of moving Dancer2 to be production ready IMHO.

[2015-01-07 12:57] nunorc commented on #769
Pull request #829 only does the renaming part, I'm guessing that another part would be to support (at least for some time) both options, not sure what is the deprecation cycle on such matters.

[2015-01-09 11:32] VinceW opened #831 "Dancer2::Session::YAML documentation refers to page not found"
In the See Also section of Dancer2::Session::YAML there is textual reference to Dancer2::Session

When clicking on the link I expect to be taken to (the documentation) related to Sessions in Dancer2
However, the current link is pointing to Dancer2::Session. This link resolves in a 'page not found'

If the current situation **is** intentional, please disregard this ticket.
Otherwise:
I propose to c

[2015-01-09 18:46] VinceW commented on #743
Closely related to deprecation is in my opinion backward-compatibility.

The perl.org documentation is pretty clear about this at: http://perldoc.perl.org/perlpolicy.html#BACKWARD-COMPATIBILITY-AND-DEPRECATION

I think a Dancer2 policy should adhere to this policy because companies, project managers, change managers, developers, etc who are familiar with Perl (but not with Dancer2) are probably ex

[2015-01-13 10:09] logust79 opened #833 "Add serializer breaks Dancer2 app"
Hello,
I browsed through the current live issues, and am not sure whether this is relevant to any one of them.

    dancer2 -a webapp

Then set serializer as JSON in config.yml, localhost:3000 turns to blank. The error it gives is:

Failed to serialize the request: hash- or arrayref expected (not a simple scalar, use allow_nonref to allow this) at …/lib/site_perl/5.18.1/JSON.pm line 154. in (eval

[2015-01-13 11:45] shumphrey commented on #762
Apologies for not getting back sooner. The current D2 does not give error 500 for 404s that specify a views/404.tt, it also does not appear to use views/404.tt at all.
This is clearly a better situation than the one I reported, though it means my 404 error pages don't use the layout. Not the end of the world.

[2015-01-13 12:38] shumphrey commented on #762
Further info, it's not ignoring views/404.tt now, it's just that the section in Dancer2::Core::Error that renders the template is now in an eval. This hides the error that I describe above.
At the point of rendering a 404, App does not have a Request object but the templating system needs a request object.
So the error is still there, it's just hidden now.

Commit 8c2f5fd686ef45f23c5779be18de12080

[2015-01-14 22:45] #762 closed

[2015-02-01 20:20] bigpresh opened #840 "No after hook executed after redirect means no session (e.g. dancr.pl example fails)"
Krys006 on #dancer was having issues with the tutorial dancr.pl from Dancer2::Tutorial - he could submit the login form, and saw the splash login message, but the login link remained (instead of logout), and there was no form to add an entry.

A bit of investigation showed that no `Set-Cookie` header was being sent, so there was no session in the next request (although - I'm puzzled how the splash

[2015-02-01 20:30] bigpresh commented on #840
I note that the implementation of `redirect` claims:

[code]

Seems that comment may be a lie :)  I'm not familiar enough with D2's low-level guts and Return::MultiLevel to figure it out at this moment, so I'd very much appreciate input from anyone who can help?

[2015-02-02 03:08] veryrusty commented on #840
@bigpresh The after hook is being called - there are explicit tests for this in the test suite.

The reported symptoms are due to the session implementation being "lazy". We try not to create a session object unless we "need" it; as such, the session object is only set in the engine objects if the `session` keyword is used.

The route for `/` in the tutorial does not call `session`, hence no sessi

[2015-02-02 09:51] bigpresh commented on #840
Well, my test in my test app suggested the after hook did *not* get called for the request that was redirected.

As for the implementation being lazy - I can see the value in not creating new sessions all the time if they're not being used, but perhaps a mid-way point would be to always create a session object if the request contained a session ID?  Thoughts?

[2015-02-03 04:57] veryrusty commented on #840
I'm thinking that a call to the `template` keyword can instantiate the session object if it hadn't been done within route code. I'll put a Pr together :)

[2015-02-04 09:58] utrack opened #844 "PUT request with JSON array in body stops the request processing"
Dancer2 version: current CPAN

PUTting an JSON array fails with error:

    Internal Server Error
    Not a HASH reference at /usr/share/perl5/site_perl/Dancer2/Core/Request.pm line 483.

`_body_params` is expected to be hashref, when serializer returns an arrayref.
Some proper warning would do.

[2015-02-05 01:30] drmuey commented on #565
I'd love to see that “correct sequence” in place, or at least have it working as documented, since non-200 pages look different than the rest of the site and I don’t really want to generate a bunch of static HTML files.

+1

I will submit a pull request if it the Dancer2 folks are amenable to it?

[2015-02-05 02:20] veryrusty commented on #565
@drmuey go for it!

[2015-02-05 15:27] drmuey commented on #565
@veryrusty ok, thanks :) Should I bump any versions or add any Changes entry or does that happen at release time?

[2015-02-05 17:07] drmuey commented on #565
@baynes @veryrusty I have it working :) I just need to add new tests and look for other places in the POD that need to note $views/$error_code.tt

[2015-02-05 20:16] drmuey opened #846 "Add automated tests for changes in Issue 565"
Will add details in a bit, just need an issue # for now.

[2015-02-05 20:23] drmuey commented on #846
issue 565

pull request 847

[2015-02-05 20:25] drmuey commented on #565
Done, Pull Request 847

[2015-02-06 13:41] xsawyerx commented on #697
Eventually, this will only be used in the streaming responses, so it stays as consistent behavior.

Since it was already merged, I'm closing this.

[2015-02-06 13:41] #697 closed

[2015-02-06 13:52] xsawyerx commented on #831
You are absolutely right, @VinceW. I have just merged your fix!

[2015-02-06 13:52] #831 closed

[2015-02-06 13:53] xsawyerx commented on #263
Addressed in #836.

[2015-02-06 13:56] xsawyerx commented on #769
@nunorc that was my exact comment just now on the PR. :)

[2015-02-06 16:23] xsawyerx commented on #833
I'm sorry for missing this issue until now.

The reason is very simple. The scaffolded app implements a main endpoint (`/`) which renders a template. The template is an HTML string.

When you enable a serializer, you're saying you would like to serialize the output using that. Enabling the JSON serializer will ask Dancer2 to render your output to JSON. The error you're seeing is `JSON.pm` (the mod

[2015-02-06 16:23] #833 closed

[2015-02-06 16:24] xsawyerx commented on #833
The following Advent Calendar contains more information: http://advent.perldancer.org/2014/11.

[2015-02-06 16:25] #825 closed

[2015-02-06 16:26] xsawyerx commented on #785
@DavsX Would you like to jot those down in a preliminary `Dancer2::Manual::Developers` guide?

[2015-02-07 03:33] veryrusty commented on #844
When a serializer is set we try and serialize any data into the response. We really should handle deserializing any data type from the request body too.

If the deserailized data is a hashref, merge it into the request params. Otherwise we could
  * turn it into a key-value pair, and merge something like  `{ data => $deserialized_body_content }` into the request params, or
  * don't merge the dese

[2015-02-16 17:44] iwelch opened #850 "Scaffold tutorial code as an example"
new user poking around dancer2.  the tutorial looks interesting:  http://search.cpan.org/~sukria/Dancer2-0.01/lib/Dancer2/Tutorial.pod .

alas, the idea of a tutorial should not just be to illustrate, but also to work out of the box.  could someone please tar up a compute working tutorial, including all the files in the right location?  I have gotten to print the template file to login, but the te

[2015-02-16 17:45] iwelch opened #851 "website suggestion"
it would be nice to see a basic comparison between the three major perl frameworks, catalyst, dancer2, and mojolicious.  what are they good at, what are they bad at?  possibly some examples.  this way, a new perlie does not need to learn all three to make a decision to abandon two later on.

[2015-02-16 18:49] racke commented on #850
On 02/16/2015 06:44 PM, iwelch wrote:

You are looking at an outdated version. Please check the current one:

https://metacpan.org/pod/Dancer2::Tutorial

Regards
         Racke

--
Modern Perl, Dancer and eCommerce consulting.

[2015-02-17 00:32] iwelch commented on #850
thanks.  will do.  maybe take down the older ones??

----
Ivo Welch (ivo.welch@gmail.com)
http://www.ivo-welch.info/
J. Fred Weston Professor of Finance
Anderson School at UCLA, C519
Director, UCLA Anderson Fink Center for Finance and Investments
Free Finance Textbook, http://book.ivo-welch.info/
Editor, Critical Finance Review, http://www.critical-finance-review.org/

On Mon, Feb 16, 2015 at 10:4

[2015-02-17 05:10] iwelch commented on #850
the newer version does not seem to have a full tarball or zipball either
for downloading. :-(.
having one would take one source of errors out of the progress equation...

regards,

/iaw

----
Ivo Welch (ivo.welch@gmail.com)
http://www.ivo-welch.info/
J. Fred Weston Professor of Finance
Anderson School at UCLA, C519
Director, UCLA Anderson Fink Center for Finance and Investments
Free Finance Textbo

[2015-02-17 13:10] xsawyerx commented on #850
Once the new tutorial is done, we will work on making the `dancer2` command line application scaffold the tutorial code into a directory for you.

I'm changing the ticket name to reflect it.

[2015-02-17 13:34] racke commented on #850
Take down that old Dancer 2 release => @sukria 's job

[2015-02-21 18:31] pants opened #852 "Uninitialized variable in Core::Request"
This appears from time to time in my logs:

This is part of `_build_cookies`. Malformed cookies (not sure where they come from, but regardless...) without an `=` will cause Dancer2 to die. It may be worth changing `Core/Request.pm` line 664 from:

    if ( $value ne '' )

to

    if ( defined $value and $value ne '' )

[2015-02-21 21:57] veryrusty commented on #852
@pants++ for reporting the issue! Could you put together a test case and your suggested fix in a Pr ?

[2015-02-21 22:48] pants commented on #852
Never done this process before. Please let me know if I did the fork/pull request/etc. correctly!

[2015-02-22 02:30] veryrusty commented on #852
@pants your fork/pr process was awesome! :dancers:

[2015-02-23 00:41] yanick commented on #740
What about `param_array()` as implemented in Dancer 1? It's probably isn't the most glamourous nor clever function name  ever, but what it doesn't have in pizzazz, I think it has in term of clarity and straight-forwardness...

[2015-02-23 00:48] yanick commented on #757
STDERR++  for two reasons. One, that's the default behaviour most would expect. Two: using the Capture log is a sure way to set a memory leak for most of the applications. Since there is no output, most peeps who wouldn't have read the docs closely will have no idea it's logging, and will have a heck of a nasty surprise as the memory usage grows and grows and grows. :-)

Btw, that's kinda related

[2015-02-23 18:29] xsawyerx commented on #852
Solution merged, so I'm closing this.

Thanks. :)

[2015-02-23 18:29] #852 closed

[2015-02-23 20:36] xsawyerx commented on #840
#842 has been merged. Thanks! :+1:

[2015-02-23 20:36] #840 closed

[2015-02-23 22:33] xsawyerx commented on #565
#849 (based on #847) merged. Thanks! :+1:

[2015-02-23 22:33] #565 closed

[2015-02-24 03:36] xsawyerx commented on #263
Done! Merged!

[2015-02-24 03:36] #263 closed

[2015-02-25 06:23] eserte opened #855 "0.159000: t/route-pod-coverage/route-pod-coverage.t fails with Pod::Simple 3.30"
See http://matrix.cpantesters.org/?dist=Dancer2%200.159000 for a pass/fail overview.

Looking at the analysis at http://analysis.cpantesters.org/solved?distv=Dancer2-0.159000 it seems that the fails are caused by Pod::Simple 3.30.

[2015-02-25 12:30] veryrusty commented on #855
I've reported the change in behaviour of Pod::Simple::Search->find() upstream.
  * https://rt.cpan.org/Ticket/Display.html?id=102344

[2015-02-25 12:45] veryrusty commented on #855
I've just pushed 4b376b0 (straight to master) with a workaround.

@xsawyerx once travis reports all is good, can you do a point release ?

[2015-02-25 14:21] xsawyerx commented on #855
Absolutely!

Thank you, @eserte, @veryrusty. :)

[2015-02-25 14:34] xsawyerx commented on #855
Released!

Thanks again, guys! :+1:

[2015-02-25 14:34] #855 closed

[2015-03-03 18:13] pdl opened #857 "Internal Error in Templates"
When TT2 does not have a plugin that is used by a template, it causes an error.

I spent some time trying to work out if and how my Dancer2::Session::YAML was configured incorrectly before realising the missing plugin was not Dancer2's but Template::Plugin::YAML (it wasn't installed).

Is there any way of making the error message a little more clear, as currently, it reads:

__It would be nice to

[2015-03-03 18:35] assistcontrol opened #858 "Fix the after_template_render hook example."
I forgot to create an issue for the pull request from a week ago. It is submitted as #854.

The `after_template_render` hook example shows how to alter content, but the example code doesn't actually alter the content.

[2015-03-14 16:30] szabgab opened #862 "http://0:5000/ does not work"
It might be just my browser, but after creating a new application with ```dancer -a Try::Me``` cd-ing in
and launching the server with ```plackup bin/app.psgi``` Dancer2 tells me:
[code]

but that URL does not work in my browser (Chrome on OSX). Accessing http://127.0.0.1:5000/ works.

So I am not sure what is the problem, but it is currently confusing.

[2015-03-14 22:22] xsawyerx commented on #862
`0:5000` means "any interface on the machine, both IPv4 and IPv6". You still need some IP that the machine has. The machine doesn't have the IP "0" so that wouldn't work.

[2015-03-14 22:22] #862 closed

[2015-03-16 00:33] msouth commented on #862
@szabgab Actually the text you're looking at doesn't come from Dancer, but from Plack::Runner:

     push @{$self->{options}}, server_ready => sub {
            my($args) = @_;
            my $name  = $args->{server_software} || ref($args); # $args is $server
            my $host  = $args->{host} || 0;
            my $proto = $args->{proto} || 'http';
            print STDERR "$name: Accepting con

[2015-03-16 04:54] szabgab commented on #862
@msouth that's a good idea though I think it might be better in the first example in https://metacpan.org/pod/Dancer2

[2015-03-20 06:50] y opened #863 "Dancer2 pod hidden by dancer2 on case-insensitive filesystems (eg. OS X)"
On case-insensitive filesystems, like OS X's default- HFS+, ```perldoc Dancer2``` results in the pod for ```dancer2``` being displayed. Using Test::Portability::Files would help find other occurrences.

[2015-03-22 16:28] xsawyerx opened #866 "Forwarding to a static file"
Since static files are handled outside the dispatcher loop and `forward` simply jumps to the beginning of the dispatching loop, you cannot call `forward` to a static file.

I reckon the correct behavior would be to use `send_file` for files. `forward` can be described accurately as "dispatching to another route" and not just "dispatching to another request". This would mean that it will only suppo

[2015-03-22 16:46] xsawyerx commented on #863
I'm not sure how to fix it. The problem is that these two exist, no matter what.

There is the command line application and the top class name.

[2015-03-22 18:05] hvoers commented on #863
Can you rename dancer2 to e.g. dancemaster, dancertwo, dancerctl, ...?

[2015-03-23 09:10] xsawyerx commented on #863
Maybe `dancer2ctl`. I would prefer to get more input before doing this. Also, `Dancer2` is just a conduit to the rest of the documentation and we can put that documentation in `dancer2` as well.

[2015-03-23 13:40] xsawyerx commented on #858
Merged, thanks! :+1:

[2015-03-23 13:40] #858 closed

[2015-03-23 14:47] ambs commented on #863
Solving this to Dancer2 doesn't solve it for a lot of other tools that might have the same problem. Shouldn't perldoc be patched in a way to include some -a option, like the unix man page?

Also, perldoc might be intelligent to find first modules if the name starts with uppercase.

I know, we do not control perldoc, but I think it is more important to try to "solve" or "diminish" the problem in a

[2015-03-23 17:22] dboehmer opened #867 "Setting serializer per request path broken since 42a23b0"
My application needs to send plain text or data serialized as JSON depending on the request path. Last week in IRC I got the hint to do:

    hook before => sub {
        set serializer => ( request->path eq '/json' ? 'JSON' : undef );
    };

and it worked for my installed Dancer2 version. After I upgraded today it's broken: The plaintext route works fine until the JSON route is requested the fir

[2015-03-24 16:45] y commented on #863
@ambs is right that renaming is probably not enough, since that will work only for people that first manually uninstall the old version then install the new version. cpanm does not delete cruft from older versions of a distribution when they are updated, though it does have an option to uninstall a distribution.

[2015-03-25 09:55] bigpresh commented on #863
As I see it, renaming the dancer2 script isn't a fix, it's a bodgy workaround for a broken system.  Fixing the broken system would be far better, or if a workaround for such a broken system is required, it should be in perldoc so it'd work for everyone, not in Dancer2.

[2015-03-25 10:00] xsawyerx commented on #863
Maybe for now, until this is fixed in a global level, we could provide add the links from `Dancer2.pm` to `dancer2.pm`. That's all `Dancer2.pm` really has that's interesting.

We could alternatively move everything into `Dancer2::Manual` and link both simply there.

[2015-03-28 10:18] racke commented on #857
This seems to be bug, it doesn't show a stacktrace with `show_errors: 1`, only:

[code]

[2015-03-31 15:00] racke commented on #785
The Git guide can't be found on CPAN, so potential developers are stuck. Just faced the problem while talking to a new guy.

[2015-03-31 16:20] xsawyerx commented on #785
Worse than this, the guide is not that helpful. What would be helpful is a review of the codebase so fresh contributors could understand "who's against who" and all that. We can also remove a fair portion on how to submit a pull request by linking to the CPAN-PRC wiki guide I wrote on the topic.

[2015-04-01 13:18] xsawyerx commented on #857
PR #875 fixes the misleading error message.

[2015-04-01 13:25] xsawyerx commented on #857
I'm closing this as it referred to the error message. #875 was merged.

@racke Would you like to open a different ticket to research why `show_errors` doesn't return the stack trace?

[2015-04-01 13:25] #857 closed

[2015-04-01 13:34] xsawyerx commented on #866
#870 was merged.

[2015-04-01 13:34] #866 closed

[2015-04-02 14:15] sakshee3 commented on #757
As I can see in the Core::App::_build_default_config, 'console' is already the default valiue. Am I missing anything ?

[2015-04-02 16:09] beatjoerg commented on #867
+1

[2015-04-03 11:58] veryrusty commented on #816
Pr #874 added the `session_domain` => `cookie_domain`change in the migration docs.

@szabgab Thanks for noting the change!

[2015-04-03 11:58] #816 closed

[2015-04-05 09:43] corecache commented on #844
As for option 2, the original request-> data gets lost when beeing overriden by the deserialized data? or did you mean to put the deserialized data into a separate attribute?

[2015-04-05 12:13] veryrusty commented on #844
@corecache The "original" request body is always available via `request->body`.  `request->data` is a separate attribute that is populated with deserialized content

For the second option, an `if ( ref $data eq 'HASH' )` block wrapped around [lines 280-281 of Dancer2::Core::Request](
https://github.com/PerlDancer/Dancer2/blob/master/lib/Dancer2/Core/Request.pm#L280) should almost fix it (there is

[2015-04-05 17:56] shadowcat-mst opened #879 "dzil build putting wrong $VERSION in Dancer2.pm"
sherlock$ dzil build
[DZ] beginning to build Dancer2
[@Filter/ExtraTests] rewriting release test xt/release/distmeta.t
[@Filter/ExtraTests] rewriting author test xt/author/no-tabs.t
[@Filter/ExtraTests] rewriting release test xt/release/pod-syntax.t
[@Filter/PkgVersion] skipping lib/Dancer2.pm: assigns to $VERSION
[DZ] writing Dancer2 in Dancer2-0.159003
[MarkdownInRoot] overriding README.mkdn in

[2015-04-07 18:43] xsawyerx commented on #879
The problem is not `dzil`. The problem is that there's a test that checks for a version. Some tests could ascertain the version so sukria hard-coded it for testing purposes.

We can remove, find the test that fails (if it still exists). and fix it.

[2015-04-08 10:39] corecache commented on #844
@veryrusty That would at least make sure that everything which should get merged down into _body_params is a hash. This still leaves people who want to parse a JSONArray with having to access request->data instead of request->params/params.

1) Is there a valid and convenient way to have JSONArray acessible via params?
2) is it needed afterall?
3) What would a solution look like? I can imagine sth

[2015-04-13 13:25] shadowcat-mst commented on #879
dzil build is producing WRONG contents in lib/Dancer2.pm

This means that either your dzil.ini is broken or the contents of lib/Dancer2.pm is broken. The test might be why it *became* broken but it is not the bug I am reporting.

While it appears the latest Dancer2 was released using a version of the relevant plugin that jammed the version at the top anyway - the current release has two $VERSION l

[2015-04-13 14:38] racke commented on #879
Which test, @xsawyerx ?

[2015-04-13 14:45] racke commented on #879
If fails if you say for example:

`prove -vl t/forward.t`

Which is perfectly valid in principle to run just one test file.

[2015-04-13 15:14] shadowcat-mst commented on #879
16:11 <@mst> racke: the problem is that we decided to switch to having dzil
             generate $VERSION
16:11 <@mst> racke: but there are tests that expect it to be there
16:11 <@mst> racke: so somebody put that hack in Dancer2.pm, thereby 'fixing'
             the test via prove but breaking dzil build
16:11 <@mst> intended consequences ftl, also, welcome to monday
16:11 < racke>  is(
16:11 <

[2015-04-13 16:22] shadowcat-mst commented on #879
#dist-zilla recommends http://p3rl.org/Dist::Zilla::Plugin::RewriteVersion::Transitional which looks like it'll do the trick nicely to me, then we can leave the tests as-is -and- have the repo better match the shipping dist, which tends to be much less confusing for non-dzil-experts

[2015-04-13 18:32] racke commented on #879
:+1:  - sounds good to me. Any volunteers with dzil experience?

[2015-04-14 14:50] xsawyerx commented on #879
Please review #882 for a fix. Once it's approved I'll merge and make a release.

[2015-04-14 23:28] drmuey commented on #510
this look like the cause of https://github.com/bigpresh/Dancer-Plugin-Database/issues/62 and https://github.com/PerlDancer/Dancer2-Plugin-Auth-Tiny/issues/4

[2015-04-14 23:41] drmuey commented on #510
+1 this is stopping a major project I am doing in its tracks so I will paypal $100 to whoever fixes this (I am not familiar enough w/ Dancer2 to offer a patch at this time) ;)

[2015-04-17 07:00] szabgab opened #884 "Are Simple sessions enabled by default?"
According to https://metacpan.org/pod/distribution/Dancer2/lib/Dancer2/Manual.pod
even 'Simple' sessions must be enabled first, but as I can see Dancer2 v0.159003 has Simple sessions enabled by default

Created a new app with ```dancer2 -a Abc```
Edited the lib/Abc.pm to have the following route:
[code]
Launched it using ```plackup bin/app.psgi``` and load the page in the browser.
This set a cooki

[2015-04-17 15:29] veryrusty opened #885 "Before hooks now populating app->response attribute"
Prior to 42a23b0, the `app->response` attribute was "really" lazy - we tried hard not to generate a response object until we needed it.

However the localization `$Dancer2::Core::Route::RESPONSE` in that commit calls `$app->response`, which triggers the creation of a response object - prior to any `before` hook being called.

[2015-04-17 15:43] veryrusty commented on #867
@dboehmer Thanks for reporting this and sorry for being tardy in following it up. I've raised #885 as part of my investigation into why you saw a change in behaviour.

Changing an apps serializer in the middle of processing a request is going to be fragile - the request object and engine attributes are set up prior to a `before` hook being called. Had you added a plugin that added a before hook in

[2015-04-17 17:59] ambs opened #886 "Skel folder needs to be cleaned in each installation"
Accordingly with the current repo, there is only a share/skel/bin/app.psgi, but dancer2 still generates a share/skel/bin/app.pl. Why? because the installation process does not clean the share folder installed in the system.

Result? an app.pl is generated that does not work as expected (perl app.pl).

[2015-04-17 20:43] ambs opened #887 "hooks from one plugin overlap hooks from other plugins?"
When using

[code]
the hooks from the first module disappear.
If I change the order, they work.

When looking to the hooks, i found out that:

[code]
when Database is used first, and
[code]
when used last.

Still no idea how to fix it, as I do not understand the plugin code. But it seems the hook list for plugins is reset on each plugin import.

[2015-04-17 20:43] ambs commented on #887
Let me bring @bigpresh to the ticket, as he is an interested party on this.

[2015-04-17 21:43] b10m opened #888 "Plugins allowed to register (the same) hook multiple times"
Consider an app split in multiple files, like:

[code]

By using `appname` we can tie them all up in one app and by using `prefix` we can nicely isolate pieces of code in different modules.

Now if I want to use e.g. `Dancer2::Plugin::Deferred` in 3 of them, I _must_ `use` them in all the files I want, for otherwise perl craps out at compile time (it doesn't know about, in this case, the `deferred

[2015-04-18 10:44] ambs commented on #888
Kind of related to this issue: I had a main module, `lib/DA.pm`, that used a couple of submodules, `lib/DA/*.pm`. This was a Dancer (1) app, and I was able to use some of the registered keywords in the submodules (for example, a `lib/DA/Database.pm` used `Dancer::Plugin::Database` and, therefore, used the `dancer` keyword).

During the update noticed that is not possible anymore. At the moment I a

[2015-04-18 12:37] ambs commented on #887
More info:

[code]

I get
[code]

Changing the order of the last two:
[code]
I get
[code]

I think this change of name is not intentional and is, at the least, weird.

[2015-04-18 13:25] veryrusty commented on #887
Also see #510 for some further detail about issues with plugin hooks.

@ambs this is part of why there is some effort to rework plugins. Have you have a chance to look at either proposal?

[2015-04-18 13:28] ambs commented on #887
Not really. Unfortunately. At the moment I just needed an workaround.

[2015-04-18 13:32] ambs commented on #887
More info on this.

Into `Dancer2::Core::Role::Hookable::_build_hooks` added  a dumper with the hooks being built for each plugin/engine. Also, in `Dancer2::Plugin` added a method to know where the `current_hooks` are registered.

So, the `_build_hooks` seems to be called before the plugin defining its hooks:

[code]
So, the definition of the hooks gets called before the plugin gets loaded (correc

[2015-04-18 14:22] ambs commented on #887
`use Dancer2::Plugin::Deferred` and `use Dancer2::Plugin::Database` do not play together in any order. And the first does not define any hook.

[2015-04-18 14:26] ambs commented on #887
I think I understood the problem. If `Deferred` is used first, and because it register code to be run in hooks, Moo creates `_build_hook` lazily. Then, when Database is loaded, new hooks are not considered as `_build_hooks` was already populated.

[2015-04-18 15:00] ambs commented on #887
#889 solves the problem, it seems.

[2015-04-19 03:06] hvoers commented on #887
On Sat, 18 Apr 2015, Russell Jenkins wrote:

I searched for this but did not find the proposals.

Do you have any links?

[2015-04-19 10:40] #879 closed

[2015-04-19 10:41] xsawyerx commented on #879
Merged #883 which fixes this.

[2015-04-19 13:33] xsawyerx commented on #886
Unfortunately the Dancer installation guides do not support deleting older versions, and there are is no versioning in the installation directories.

We could have the command line hard-code the files to deploy instead. That would work even if `app.pl` exists.

[2015-04-19 13:37] ambs commented on #886
You can go two ways. Or keep the list of files anywhere, or prior to the installation, delete the full Dancer shared folder, and reinstall it.

In any way, installing the old app.pl with non working code (in the sense of, non working accordingly with the old way) is bad :)

[2015-04-19 16:19] ambs commented on #887
I think they were discussed in the developers mailing list, only.

I would be grateful if this fix could be integrated into Dancer2 while a better plugin mechanism is not in place.

[2015-04-19 16:30] xsawyerx commented on #884
I can't find where it says *even 'Simple' sessions must be enabled first*. What I see is the sentence: *To make use of sessions, you must first enable the session engine* and then `simple` used as an example of how to enable.

It is indeed the default, as seen here:

https://github.com/PerlDancer/Dancer2/blob/master/lib/Dancer2/Core/App.pm#L176

[2015-04-19 16:30] #884 closed

[2015-04-19 16:33] andrewsolomon opened #890 "config port bug"
Using Dancer2 v0.159003  "set port => 3001;" in the app works as expected. If instead, I have 'port: 3001' in config.yml it listens to 3000 (the default port). In spite of this, when I dump the config it says 'port' => '3001'

[code]

[code]
[code]

[2015-04-19 16:34] szabgab commented on #884
From the pod I understood that I need to enable sessions in order to use sessions.
Even if I only wants Simple sessions.
My experiment shows that Simple sessions are enabled by default.

[2015-04-19 16:35] xsawyerx commented on #867
I hadn't replied to it at first because I saw the example is setting the serializer on every request in the *before* hook and honestly, I was like "whoa!" Then I thought "I'll get my thoughts together and reply" and then $work got in the way. :/ Sorry about that.

My opinion:
1. I wish to fix #885, which would resolve this in turn.
2. I also wish you do not do this. :)
3. I don't wish to do extra

[2015-04-19 16:38] xsawyerx commented on #863
It's funny we didn't get such a ticket opened on Dancer 1 or even in Carton.

If no one suggests anything, I will simply make sure that `dancer2` has explanation at the top giving the details that `Dancer2` has pointing to `Dancer2::Manual`.

Dancer2.pm really does not have anything interesting or important. It currently only lists the import and one single short example. That can and should be re

[2015-04-19 16:41] xsawyerx commented on #851
I'm sorry, but I do see a problem with this. Even a few. The main issue is that this is very subjective. We can talk about statistics (zero dependencies, X dependencies) but that's also off because installation time varies (Dancer2 has lots of dependencies but installs *very* quickly). The biggest issues are really a matter of taste. More or less syntax, more or less conventions, etc.

This would

[2015-04-19 16:41] #851 closed

[2015-04-19 16:52] iwelch commented on #851
link to a couple then?

----
Ivo Welch (ivo.welch@gmail.com)
http://www.ivo-welch.info/
J. Fred Weston Professor of Finance
Anderson School at UCLA, C519
Director, UCLA Anderson Fink Center for Finance and Investments
Free Finance Textbook, http://book.ivo-welch.info/
Editor, Critical Finance Review, http://www.critical-finance-review.org/

On Sun, Apr 19, 2015 at 9:41 AM, Sawyer X <notifications@

[2015-04-19 16:58] xsawyerx commented on #851
Again, the problem would be a matter of personal taste. We don't all see the same comparisons. We would have our own biases and so would others.

Writing such an article for the Advent Calendar next year might not be a bad idea.

[2015-04-19 17:01] xsawyerx commented on #886
Deleting files as part of our installation: probably not possible, but definitely not recommended.

*installing the old app.pl with non working code* -- You're not talking about installing, you're talking about scaffolding. If we have a hard-coded list of files to scaffold, we will not scaffold the `app.pl` file. That will solve it, no?

[2015-04-19 17:02] xsawyerx commented on #884
From what I read in the POD it says you need to enable sessions. We can make a note that Simple sessions are the default.

Your experiment shows what I also said is correct behavior, yes.

[2015-04-19 17:03] ambs commented on #886
Sorry, yes, I was talking about scaffolding. And yes, it will solve the problem. Given we probably do not change much the files from the scaffolding tree, letting it (`app.pl`) die there should be acceptable.

[2015-04-19 17:04] xsawyerx commented on #884
Here:
https://github.com/PerlDancer/Dancer2/commit/065f55a879c3191eb6897ecc727a29a2574499c3

[2015-04-19 17:08] szabgab commented on #884
I still think the docs say that you need to make some changes in order to enable sessions,
specifically to addd
[code]
to the config file, but that note you just linked to and the actual behavior of Dancer2 shows me that
even without that entry, sessions already work.
But then again this is just my understanding of the docs.

[2015-04-20 07:30] xsawyerx commented on #884
I don't understand the confusion.

The docs state:
* In order to use sessions, you need to pick which session you want.
* Here is an example.
* If you don't pick, there is a default: Simple sessions.

What is the problem? Perhaps you can provide with an example of clearer docs, because I don't understand the confusion you have from your explanations alone. Maybe an example will help me.

[2015-04-20 07:52] szabgab commented on #884
"By default Dancer 2 has Simple sessions enabled. If you'd like to use a different session engine you must declare it in the configuration file. For example to use YAML file base sessions you need to add ```session: "YAML"``` to config.yml.
This is a change from Dancer 1 where, by default no session engine was enabled."

[2015-04-20 08:08] xsawyerx commented on #884
https://github.com/PerlDancer/Dancer2/commit/66092aa665ea40fb8677e8d3ba4b7fd3d8942fc2

Is this better?

[2015-04-20 09:25] szabgab commented on #884
Yes, I think it is much better. Thanks.
An addition:
I think it would be even better if the config.yml created by ```dancer2``` would include something like this:
[code]

That will put this information right where people need it.

[2015-04-21 14:37] veryrusty commented on #510
I've made some progress on this, enough for the test from @e11it to pass. See my comment in #889.

[2015-04-21 18:56] ambs commented on #887
The bad news is that it doesn't work:
[code]
I am not sure I will be able to look to the code right now, but in case you have the time before me, try to test with:
[code]
Cheers.
[code]

[2015-04-25 02:04] veryrusty commented on #510
There is a working implementation for review in #892. :dancers:

[2015-04-25 20:15] #659 closed

[2015-04-26 11:11] veryrusty commented on #510
Resolved by #892.

Thanks to @e11it for reporting the issue and thank you to everyones' research, poking and prodding to get the fix/workaround merged.

There is still "brain pain" for anyone working through the plugin code - though we should now have the time to think about the reimplementation :)

[2015-04-26 11:11] #510 closed

[2015-04-26 22:17] xsawyerx commented on #558
This has been resolved in the latest version thanks to #845.

[2015-04-26 22:17] #558 closed

[2015-04-26 22:17] xsawyerx commented on #793
Resolved in #845.

[2015-04-26 22:17] #793 closed

[2015-04-26 22:19] xsawyerx commented on #887
I'm closing this for now, as it has been resolved by #892.

[2015-04-26 22:19] #887 closed

[2015-04-27 14:29] xsawyerx opened #893 "Failing test with YAML.pm"
This is an interesting failure. I've dug enough into it to find the problem, sort of. I'd like to dig more to find the exact problem even though I can already fix it by working around a problem in a third-party module.

We have a test to assure that we fail to read an invalid file, part of `t/config_reader.t`. We assume the underlying reader we use (`Config::Any`) will crash if it fails.

`Config:

[2015-04-27 23:41] veryrusty opened #894 "Add status and headers methods to ::Response::Delayed"
Following on from @szabgab report of breakage on the mailing list after upgrading to 0.160000:
Add `status` and `headers` methods to Dancer2::Core::Response::Delayed.

A delegation (via `handles` on the response attribute) is probably the simplest approach.

[2015-04-28 12:25] veryrusty commented on #893
The content of `t/config/environments/failure.yml` is actually valid YAML (string literal).

Changing that to something that is invalid YAML (such as inconsistent indentation) is sufficient to trigger the issue. Expect a Pr shortly :)

[2015-04-28 18:02] xsawyerx commented on #893
So YAML::XS crashes because?

[2015-04-28 19:16] veryrusty commented on #893
Other way around. YAML:XS was correctly parsing failure.yml. Its YAML.pm that's buggy and fails to parse the literal string. Config::Any hides the error and returns undef for the failed parse.

[2015-04-28 22:51] modmanx opened #896 "cpanm Dancer2 fails at tests"
I'm trying to install lib through cpanm and it gives me this error:

[code]
Should there be some trick to install with cpanm?

[2015-04-28 23:14] veryrusty commented on #896
@modmanx Thanks for the report. That string gets emitted as part of the test suite, but won't stop Dancer2 installing.

Can you have another look through the build log, or post it somewhere (a gist) or email it (you can use my email address from the mailing list) so we can identify what's going on.

[2015-04-28 23:26] veryrusty commented on #893
Ahhh.. there are two issues interacting.
  1. As I've reported, our `failure.yml` environment is actually valid YAML. YAML.pm is buggy and does not parse it.
  2. Config::Any 0.25 was released 2015-04-23. It no longer reports parse errors in config files, which I consider a nasty bug. I've reported that [upstream](https://rt.cpan.org/Ticket/Display.html?id=104079)

[2015-04-28 23:48] modmanx commented on #896
Thank you for fast response
Here is a gist with log of installation

https://gist.github.com/modmanx/64a9bdedea5d371a9170

uname -a
[code]

[2015-04-28 23:58] veryrusty commented on #896
Thanks for the full build log @modmanx.   It's the `t/config_reader.t` test failing, which is being discussed in #893.

If you need an immediate workaround you can either
  * install YAML::XS, or
  * downgrade Config::Any to v0.24.

[2015-04-29 01:43] modmanx commented on #896
Thank you again for rapid response! I installed YAML::XS and it's working now.

[2015-04-29 01:43] #896 closed

[2015-04-29 03:22] druthb commented on #888
This issue, in the specific case the OP posted, even, makes `prefix` unusable in an application I'm working on. I don't know whether the Right Thing to do is prevent a hook from being added if one with that name already exists (in `Dancer2::Core::Hook`, I suppose) or to just deal with these as they crop up, as in cases like the two listed here.

[2015-04-29 23:46] veryrusty commented on #893
The upstream issue with Config::Any has been resolved with the release of v0.26.

Pr #895 covers anyone with Config::Any 0.25, and ensures we ship broken yaml (for all parsers). @xsawyerx can you have a quick look and do new release ?

[2015-05-02 17:05] yanick commented on #894
The thing Gabor said:

http://lists.preshweb.co.uk/pipermail/dancer-users/2015-April/004541.html

[code]

[2015-05-02 17:22] szabgab commented on #894
The solution to my issue was to use the ```response``` function provided by the DSL instead of the parameter that was passed.

If I understood correctly what @xsawyerx indicated in the email ( http://lists.preshweb.co.uk/pipermail/dancer-users/2015-April/004545.html ), that there is no commitment to always pass that parameter to after hook (or for that matter to any hook), then I'd think it is bet

[2015-05-04 00:15] veryrusty commented on #894
Resolved by #898. Thanks to all involved!  :dancers:

[2015-05-04 00:15] #894 closed

[2015-05-04 01:21] jasonblewis opened #899 "Dancer2 fails to install"
Upgrading Dancer2 to Dancer2-0.160000 using cpanm failed. Not sure if this is a general issue or if its just my machine.

I'm running on Debian 7.8 with perblrew installed perl v5.20.1. I attempted to upgrade Dancer2 using cpanm Dancer2

first try, cpanm recommended I install JSON::XS
https://gist.github.com/jasonblewis/7f216d8f62152298b911

second try:
https://gist.github.com/jasonblewis/258fa175

[2015-05-04 01:27] veryrusty commented on #899
I was able to replicate on OS X by downgrading to YAML v0.85.
YAML 0.84 and 0.86 to 0.90 all pass (and so do the recent 1.1x versions).

Note that YAML 0.85 was very short-lived before having a bug-fix release in v0.86.

[2015-05-04 02:03] veryrusty commented on #899
Anyone installing Dancer2 is unlikely to have issues updating old YAML versions.. Should we specify YAML v0.86 as the minimum version for YAML ?

[2015-05-04 07:32] ambs opened #900 "Are we sure we want to_json vs encode_json?"
From the documentation of JSON module, `to_json` keyword:

[code]
and I can't foresee a non UTF-8 world out there.

[2015-05-04 07:48] logust79 commented on #900
I don’t know if this is relevant, but there are many Chinese websites with non UTF-8 encoding.

[2015-05-04 08:13] ambs commented on #900
Also, after digging it up a little, I found the utf8 flag on to_json
disturbing. Needed to turn it off to output UTF-8 data.

Something is not clear in the way these modules work. At least for me.

On 04/05/15 08:49, logust79 wrote:

[2015-05-04 22:06] emil-perhinschi opened #901 "Dancer2 appears to remember the response serializer from one request to the other: if no serializer is set the last one set is remembered"
when running https://github.com/PerlDancer/Dancer2-Plugin-REST/blob/master/t/02_prepare_serializer_for_format.t :

the last pair of tests (output and content type for path => '/') fail because the response is generated with the serializer set for the previous request ( path => '/foo.yml', content_type => qr'text/x-yaml')

the solution I found was to
  delete $dsl->response->{serializer}   (
when p

[2015-05-05 13:56] #893 closed

[2015-05-05 14:02] veryrusty commented on #893
I've merged #895 to resolve this issue. The fix includes:
  * test environment `failure.yml` now contains invalid yaml for all parsers
  * catching the undef returned by Config::Any 0.25 before we use it as a hashref

[2015-05-05 14:04] veryrusty commented on #899
Ping @xsawyerx - Can you see any issues in specifying the minimum version of YAML as v0.86 to avoid the broken version (v0.85) ?

[2015-05-05 16:31] shlomif commented on #899
I can reproduce it with YAML-0.85 too on Mageia Linux x86-64 5.

[2015-05-06 03:53] #899 closed

[2015-05-06 15:05] burnersk opened #903 "[RFC] label and milestone usage"
Hi folks. This is a meta "issue" about labeling GitHub issues and assigning them to milestones. Some months ago I wrote a message to the Dancer2 mailing list explaining some of my basic ideas for "communicating to users via milestones". In this issue I like to present my thoughts about the actual strategy for labeling future GitHub issues. **This is a discussion issue** so please *don't* just take

[2015-05-06 15:24] burnersk commented on #903
I forgot to write the milestones section. Updated the description.

[2015-05-07 09:10] tstumm opened #904 "Logging should be more configurable"
I think Dancer2 is missing an option to disable logging of POST and GET requests.
Requests of css and js files pretty much bloats my console/log-file and is not necessary (for me).
There should be either a option to disable request logging at all, or just request, that do not directly belong to the route.

[2015-05-07 22:58] drmuey commented on #510
Unfortunetely, #510 is not resolved by #892 :( its behaving like it was in my previous post

Dancer2 v.160000 and Dancer2::Plugin::Database v 2.12 still give me:
   `Hook 'database_connected' does not exist at /Users/dmuey/perl5/perlbrew/perls/perl-5.16.0/lib/site_perl/5.16.0/Dancer2/Plugin/Database.pm line 45.`

commenting out line 45, `$dsl->execute_hook(@_);`, (since I am not using the hooks) a

[2015-05-07 22:58] drmuey commented on #510
will open new issue since I can't re-open this one

[2015-05-07 22:59] drmuey opened #905 "#510 is not resolved by #892 after all"
Unfortunetely, #510 is not resolved by #892 :( its behaving like it was in my first post to #510

Dancer2 v.160000 and Dancer2::Plugin::Database v 2.12 still give me:
Hook 'database_connected' does not exist at /Users/dmuey/perl5/perlbrew/perls/perl-5.16.0/lib/site_perl/5.16.0/Dancer2/Plugin/Database.pm line 45.

commenting out line 45, $dsl->execute_hook(@_);, (since I am not using the hooks) all

[2015-05-07 22:59] drmuey commented on #510
Done it is, #905

[2015-05-08 00:09] veryrusty commented on #905
@drmuey can you reduce this issue to a minimimal test case ?

[2015-05-08 00:30] drmuey commented on #905
sure, I'll try to do that ASAP, thx

[2015-05-12 22:58] sevenk opened #906 "No import of read_glob_content in App.pm"
The use of send_file with streaming:
return send_file($s_filepath, system_path => 1, streaming=>1, $s_file_cf, content_type=>$cont);

results in:
Route exception: Undefined subroutine &Dancer2::Core::App::read_glob_content called at /usr/share/perl5/site_perl/Dancer2/Core/App.pm line 885

importing read_glob_content fix this.

[2015-05-13 00:05] veryrusty commented on #906
Thanks for reporting this @sevenk !

There is also a logic error in send_file; it should stream be default but the example above is hitting the code path for non-streaming of content even with `streaming => ` specified.  Expect a patch soon.

[2015-05-13 00:21] veryrusty commented on #906
@sevenk If this is blocking development, note that you do not need to add `streaming=>1` as an option to send_file if you want to use psgi streaming. Streaming is the default option if the server supports it. Removing `streaming => 1` from your call will stop the above mentioned logic error from being triggered but still stream the content.

[2015-05-13 01:42] #906 closed

[2015-05-13 01:44] veryrusty commented on #906
Fix has been applied to master.

@xsawyerx can you do a release ?

[2015-05-16 15:04] gregoa opened #910 "[PATCH] fix spelling/grammar glitches"
In Debian we are currently applying the following patch to Dancer2.
We thought you might be interested in it too.

    Description: fix spelling/grammar glitches
    Origin: vendor
    Author: gregor herrmann <gregoa@debian.org>
    Last-Update: 2015-05-16

The patch is tracked in our Git repository at
https://anonscm.debian.org/cgit/pkg-perl/packages/libdancer2-perl.git/plain/debian/patches/langu

[2015-05-19 22:32] andrewsolomon opened #912 "public/404.html not displaying"
For release 0.160001 the 404 error retrieving a page from public/404.html has stopped working (again:)

It's easy to replicate this by creating a default framework `dancer2 gen -a MyWeb::App` and visiting http://hostname/invalidroutename

Playing with the various versions I have at hand, it seems to be fairly fragile functionality:

0.09 - OK
0.143000 - BUG
0.150000 - OK
0.159003 - BUG
0.160001 -

[2015-05-22 12:58] veryrusty commented on #910
Merged as 267d8af.  Thanks @gregoa !

[2015-05-22 12:58] #910 closed

[2015-05-24 23:11] drmuey commented on #905
Doh! The app I was seeing this on has a use lib '…' that went to a specific checkout (i.e. old version) of Dancer2.

Removing that and having 0.160001 installed does indeed seem to work. Thanks y’all!

I owe @veryrusty some beer at YAPC :) Thanks!

[2015-05-24 23:11] #905 closed

[2015-05-25 12:29] veryrusty commented on #912
If the setting `show_errors` is true, then a static error page is NOT rendered. This allows the errors to actually be shown.  I think this is a reasonable approach, but understand that it may catch some out.

This is noted in the `environments/development.yml` that is generated via `dancer2 gen -a MyWeb::App`, which may not be the best place to have this behaviour documented. If you can think of a

[2015-05-25 18:25] xsawyerx commented on #912
:+1:

[2015-05-25 19:08] xsawyerx commented on #740
I thought about this quite a bit. @mickeyn and I came up with one single keyword for all of it: `parameters`. This fits with `Plack::Request`:

    my $body_parameters = parameters('body'); # returns Hash::MultiValue
    my $route_parameters = parameters('route'); # returns Hash::MultiValue
    my $query_parameters = parameters('query'); # returns Hash::MultiValue
    my $all_parameters = paramete

[2015-05-26 00:05] veryrusty commented on #740
There are similar questions in #844. i.e. we currently do not handle serialized body content that is not a hashref.

My thoughts from 844 were (but I'm not totally convinced this is the best option):
  * deserialized body is available via `request->data`, no matter what its type with no extra processing after the deserialization.
  * if the data is a hashref, it gets merged with the other params.

[2015-05-27 15:04] xsawyerx commented on #844
I think we should start with defining what parameters are. In my opinion, they are essential key/value pairs. This means that any request to get parameters from a non-hash structure should fail. Having it available in `request->data` or `request->body` is fine to me and make sense.

This gives us a clear path of handling serialized content that isn't key/value pairs.

[2015-05-28 17:42] xsawyerx commented on #912
Closing this issue since it's known.

@andrewsolomon the commits you've pushed to your fork, would it be possible to submit them as PR?

[2015-05-28 17:42] #912 closed

[2015-06-01 12:55] chrisspang opened #919 "confdir config option not actually used anywhere"
I was expecting to be able to get Dancer2 to load a config from a specific directory by using the 'confdir' option.  It is documented in Dancer2::Config:

    DANCER_CONFDIR
     Sets the configuration directory.

     This correlates to the "confdir" config option.

It's not used anywhere in code, though.

ConfigReader.pm seems to deduce the configuration directory using some horrible code in Has

[2015-06-03 23:44] yanick commented on #740
1. As long as the deserialized body data is always provided as-is through `request->data`, we should probably follow the same behavior than for the other sources of parameters, for consistency sake. Although we should document that in a very big font, 'cause I'm sure it'll surprise a few peeps. :-)

2. In the case of a single entry, I'd say skip it from the parameters, as there is not an obvious k

[2015-06-04 09:20] sherwind commented on #888
Yeah it would be nice if the documented way of splitting app doesn't cause plugin hook run multiple times . If it's any help, I use `require` to workaround this issue, like so:

[code]

[2015-06-04 14:54] nanis opened #921 "Dancer2-0.160002 test failure with Plack v1.0036"
I haven't tried to diagnose this, but here some information:

- I have a working 0.160001 install
- <pre>C:\...\Dancer2-0.160002> perl -MPlack::Response -E "say $Plack::Response::VERSION"
1.0036</pre>
- Will link to test output on CPANTesters when it becomes available.
- Below, I added a call to dump the `$plack` object right before the problem:

<pre>C:\Users\sinan\.cpanm\work\1433418642.3540\Dan

[2015-06-04 19:12] eserte commented on #921
Tests fail on all platforms with Plack 1.0036. 1.0034 and earlier is fine. See http://analysis.cpantesters.org/reports_by_field?distv=Dancer2-0.160002;field=mod%3APlack

[2015-06-04 19:37] nanis commented on #921
Interesting. Thank you.

[2015-06-04 21:24] veryrusty commented on #921
Plack 1.0035 changed to using HTTP::Headers::Fast, but the coercion in Dancer2::Core::Role::Headers doesn't handle HTTP::Headers::Fast objects.

[2015-06-04 22:03] veryrusty commented on #921
Change the title to reflect this is an issue against Plack, rather than a specific platform.

Fix in #922 :dancers:

[2015-06-04 22:10] nanis commented on #921
Thank you @veryrusty for the diagnosis & update.

[2015-06-06 09:06] #921 closed

[2015-06-06 10:50] nanis commented on #921
Thank you!

<pre>--> Working on X/XS/XSAWYERX/Dancer2-0.160003.tar.gz
Fetching http://www.cpan.org/authors/id/X/XS/XSAWYERX/Dancer2-0.160003.tar.gz ... OK
Configuring Dancer2-0.160003 ... OK
Building and testing Dancer2-0.160003 ... OK
Successfully installed Dancer2-0.160003</pre>

[2015-06-07 02:19] gravattj opened #924 "failed memory_cycles.t issue"
After some trial and error, I found that upgrading Devel::Cycle to 1.12 fixed this:

[code]

[2015-06-07 02:27] gravattj opened #925 "Dancer::Plugin::Database failed pod coverage test"
Upgraded Test::Pod to 1.50 to fix this:

[code]

[2015-06-08 10:10] sherwind opened #926 "session_dir default value is not "appdir/session"?"
Hi,

I'm using uwsgi to run multiple Dancer apps on a dev server. It works fine except that today I noticed apps that don't specify session_dir create and share "sessions" directory under /etc/uwsgi.d -- the cwd before each app is launched. I already fixed this issue in uwsgi but my understanding is that the default session_dir should be "appdir/sessions". Is this a bug or my understanding of appd

[2015-06-09 01:40] veryrusty commented on #925
Thanks for reporting the issue @gravattj.

Dancer2::Plugin::Database has a separate repo. I've reported this issue there:
  * bigpresh/Dancer-Plugin-Database#68

[2015-06-09 01:40] #925 closed

[2015-06-11 05:53] hvoers commented on #926
I think this is a bug, the code is wrong.

path( '.', 'sessions' ) should be path( setting('appdir'), 'sessions' )

[2015-06-11 10:10] hvoers commented on #926
I made a PR #929

[2015-06-11 13:44] veryrusty commented on #926
Thanks for reporting this @sherwind. Looks like a bug to me, `appdir/sessions` as the default is going to be less surprising that `./sessions`

@hvoers that suggestion won't work. `setting` is a DSL keyword, which will not be available within `Dancer2::Core::Role::SessionFactory::File`.  Looks like there are no tests against that role either :(

[2015-06-11 15:43] hvoers commented on #926
On Thu, 11 Jun 2015, Russell Jenkins wrote:

Mmm. 'path' is a DSL keyword and it works just fine.

@Sherwin Can you test this patch?

[2015-06-11 18:32] sherwind commented on #926
@hvoers you are right that there is a `path` DSL but @veryrusty must be correct as well. `Dancer2::Session::YAML` consumes `Dancer2::Core::Role::SessionFactory::File` which provides the `session_dir` attribute. The `path` that gets called by the default value provider of `session_dir` is the one from `Dancer2::FileUtils`.

[2015-06-11 19:08] sherwind commented on #926
It's a he said, she said situation. Both `Dancer2::Session::YAML` and `Dancer2::Session::JSON` claim that`session_dir` defaults to `appdir/sessions` but in the code they don't do anything to support it and just left it to `Dancer2::Core::Role::SessionFactory::File`. In contrast, `Dancer2::Core::Role::SessionFactory::File` says that the default value is `./sessions` and does that exactly in the cod

[2015-06-12 04:24] veryrusty commented on #926
@sherwind++  Thanks for taking the time for the explanation.

I concur that `appdir/sessions` is the best "default" location for session files. Its not possible to define with the default for the `session_dir` attribute in `Dancer2::Core::Role::SessionFactory::File`. However its trivial to pass that "default" in when the session engine is instantiated in `Dancer2::Core::App`.

We still needs tests

[2015-06-12 09:49] fgabolde opened #932 "Should `uri_for` avoid prepending the base URI to absolute URIs?"
Currently if you do something weird like

    $request->uri_for('http://example.com')

it just tries to rebase the argument anyway:

    http://localhost:5000/mountpoint/http://example.com

I'd argue that this is never what the user wants, so the method should either throw an exception or not rebase the argument (returning "http://example.com" unchanged).

For selfish reasons I prefer the second o

[2015-06-15 11:34] mattchance opened #936 "error_template not rendered for implicit 404"
When there are no matching routes or static files for a request and a 404 is thrown, the error_template set in the config is not used.

To reproduce:
https://gist.github.com/32544ef5d6972184050d

A request to /does-not-exist will result in error.tt being rendered, due to explicitly throwing a 404 error.
A request to /doesnt-exist however will not result in error.tt being rendered, instead a built-

[2015-06-15 11:57] veryrusty commented on #936
Hmmm, `Dancer2::Core::Error` is attempting to render the `error_template` for that second URL, but fails with this error (and hence falls back to the default error page):
[code]

[2015-06-15 21:42] xsawyerx commented on #924
This is no longer an issue since in the next version `Devel::Cycle` is not going to be installed. None of the less, I've added it as a recommendation in the `dist.ini` file.

Thanks! :)

[2015-06-15 21:42] #924 closed

[2015-06-17 16:30] xsawyerx commented on #740
I continued working on this but unfortunately have a problem when trying to make both params() and parameters() work independently. The content is read twice and body parameters reflect twice the content. Maybe I'll try to rework it so params() gets the data directly through parameters() which does the actual work. Sigh.

[2015-06-17 16:30] xsawyerx commented on #740
Still, I'm going to merge #937 first since it covers the issue mentioned here.

[2015-06-18 15:51] #926 closed

[2015-06-18 15:52] xsawyerx commented on #926
Fixed merged. Thanks for reporting! :+1:

[2015-06-18 15:56] #936 closed

[2015-06-18 15:57] xsawyerx commented on #936
Fix merged. Thanks for reporting! :+1:

[2015-06-18 16:16] xsawyerx commented on #844
Merged fix #937. This is now fixed.

Thanks for reporting! :+1:

[2015-06-18 16:16] #844 closed

[2015-06-22 20:07] xsawyerx opened #941 "Callbacks for streaming asynchronous responses"
While we have the `content` keyword for streaming content to the user as part of an asynchronous response, we have no way of knowing whether it worked or not.

The writer does not expose whether it was able to write or not. This means that if a user closed a connection before we called `done`, you will probably get a caught exception in your log that you can't do anything about.

While there are d

[2015-06-22 20:58] andrewsolomon commented on #941
I have no experience with Promises but having now read [Promises::Cookbook::GentleIntro](https://metacpan.org/pod/Promises::Cookbook::GentleIntro) I think it'd be a great addition.

My preference is to have named callbacks. Partly because of its readability, but also because this is a new terrain it leaves more room for change.

[2015-06-22 21:46] xsawyerx commented on #941
I think the first question to answer is: Should we return promises or not. That ties us into either Futures or Promises. There is an implementation of **q** in Futures but not for Promises. If we had that, we could say "we don't return promises, but you can use these modules to create promises from it".

We would need some sample code for it.

We can make the `content` keyword faster by using posi

[2015-06-23 20:08] xsawyerx commented on #478
@azawawi Does this issue still exist?

[2015-06-25 10:28] azawawi commented on #478
@xsawyerx Dancer2 depends on Plack which depends on ```Test::TCP``` which does not install cleanly without a ```cpanm Test::TCP --notest``` on Windows 7 Ultimate 64-bit.

```set PLACK_SHOTGUN_MEMORY_LEAK=1 && plackup -L Shotgun bin\app.psgi```

Works :+1:

[2015-06-25 12:05] xsawyerx commented on #478
@azawawi Thank you! :+1:

[2015-06-25 12:05] #478 closed

[2015-06-25 17:00] xsawyerx commented on #941
Reconsidering this, providing a callback for the entire `delayed` makes more sense. When a write fails, the entire `delayed` should fail. You should be able to do an eval for each `content` call, but otherwise have one `on_error` callback for the entire response.

How about this syntax:

    get '/' => delayed {
        content "hello";
        done;
    } on_error => sub {
        my $data_or_bet

[2015-06-26 06:10] wchristian opened #942 "Dancer2::Core::Request doesn't verify whether it's actually behind a proxy if behind_proxy is set"
When that variable is set in the config, Core::Request will try to use HTTP_X_FORWARDED_HOST, regardless of whether it is undefined or not. This causes warnings, and likely wrong behavior for dependents like uri_for.

[2015-06-26 10:36] veryrusty commented on #942
Thanks for raising the issue @wchristian.

This was previously raised in #915, fixed by #930 and is awaiting the next release.

[2015-06-26 10:36] #942 closed

[2015-06-26 12:12] wchristian commented on #942
In that case please reopen the fix issue, so users who actually DO search for things beforehand (like i did) can find them when they try to report them. Patched but unreleased should never be closed, since it's actually not fixed yet. (That's when you use labels instead.)

[2015-06-26 12:16] xsawyerx commented on #942
@wchristian That's what *you* use labels for "instead". We use it to have details regarding what the issue is *about*, not whether it was fixed or not. We only have one label for the status of the ticket and that's whether it's obsolete or not.

We close tickets to know that we don't need to handle them anymore, because they were handled. We even explicitly have a label to mark that someone is wor

[2015-06-26 12:41] wchristian commented on #942
That means people who report bugs for you need to actively remember to tick that box, and people who're doing it for the first time will likely not be aware of it, not do it and waste both their own and your time.

I guess i can understand that you don't care if the number of times that happens it's small enough, but from my point of view it's just a little impolite.

That said, feel free to ignor

[2015-06-26 13:15] xsawyerx commented on #942
"That means people who report bugs for you need to actively remember to tick that box, and people who're doing it for the first time will likely not be aware of it, not do it and waste both their own and your time."

Yes. That can happen. It happens once in a while. We explain it, it's understood, we're all happy and move on, and we try to get the next version released quicker.

"I guess i can und

[2015-06-26 13:22] wchristian commented on #942
I was just trying to find a nicer way of saying this:

Sorry i didn't get it across clearly. :)

[2015-06-26 13:33] xsawyerx commented on #942
I'll take that as me miscommunicating clearly. My apology. :)

[2015-07-07 17:35] miyagawa opened #943 "VERSION sub doesn't validate the given argument"
perl's UNIVERSAL VERSION sub is supposed to validate a supplied argument, when it is given.

[code]

Dancer2's VERSION sub defined in #879 #882 #883 don't pass the argument (`@_`) to its SUPER sub, meaning `use Dancer2 99` or `perl -MDancer2\ 99` will just pass without checking the version, which is incorrect.

See perldoc UNIVERSAL for more about this behavior.

You should at least pass the argum

[2015-07-07 18:37] xsawyerx commented on #943
The problem we have is running the testing suite outside `dzil test` (which is what I prefer, honestly), so this method seemed to work best. Let me fix this right by passing the `@_`.

Thank you for spotting this!

[2015-07-07 18:41] xsawyerx commented on #943
Hmm... Changing it to `shift->SUPER::VERSION(@_)` doesn't fix it either, since there's no $VERSION number to compare it to:

    $ perl -Ilib -MDancer2\ 999
    Dancer2 does not define $Dancer2::VERSION--version check failed at lib/Dancer2.pm line 16.
    BEGIN failed--compilation aborted.

Which means we'll need to sort out the dzil config. Sigh.

[2015-07-07 19:03] miyagawa commented on #943
Well at least it's now correctly giving you an error, rather than accepting whatever version requirement you throw in.

Unless no test suite runs `use Dancer2 1` or something against your git version of the perl module file, the new code will just run fine as soon as you ship it with the real `$VERSION` in your code.

[2015-07-07 19:11] xsawyerx commented on #943
Good point. Will commit, push, and release tomorrow. A release is due for a while now.

[2015-07-07 19:13] xsawyerx commented on #943
Pushed: https://github.com/PerlDancer/Dancer2/commit/8d0810f34b77be9a35c8c6784dbfa76f1ec3f748

@miyagawa++.

[2015-07-07 19:13] #943 closed

[2015-07-07 19:16] karenetheridge commented on #943
@xsawyerx if you're looking to get real $VERSIONs into your repo code via dzil I can help - hit me up on irc! (the short version of the answer is: [RewriteVersion::Transitional] plus [Git::Commit].)

[2015-07-07 19:22] xsawyerx commented on #943
@karenetheridge I had hoped I wouldn't relapse into spending hours on dzil configurations. :/

My problem tends to be "I don't want to use this plugin until I actually understand it", and that leads to 17 other plugins. Would still be happy (and thankful) to at least discuss this.

[2015-07-07 23:15] veryrusty commented on #943
As someone who was asleep when this was reported/fixed/merged (damn timezones), thanks to all!

[2015-07-10 09:28] dtcyganov opened #944 "Error after returning content from before hook"
Here is test case, which reproduces bug:

    use strict;
    use warnings;

    use Test::More;
    use Plack::Test;
    use HTTP::Request::Common;

    {
        package App; ## no critic
        use Dancer2;
        set serializer => 'JSON';
        hook before => sub {
            response->content({ foo => 'bar' });
            response->halt;
        };

        get '/' => sub {1};
    }

[2015-07-11 13:56] veryrusty commented on #944
Thanks for reporting this @dtcyganov !

There is no need to set the response content to the value of the responses content (that is a little loopy!).  I also found that the same issue applied to any route that sets response content. eg.
[code]

[2015-07-11 17:41] xsawyerx commented on #644
A 500 error indicates there is a problem with the application code (or with the server) and this seems like it's either developer error (there is no HTTP status for such a thing, sort of) or a bad request, which is a 400.

However, it would not be clear if the problem occurred because of the former or latter or sending a 400 automatically tells the user they screwed up, when in fact it could have

[2015-07-11 18:00] xsawyerx commented on #754
This was fixed by a patch long ago. @yanick is working on a new implementation which will cover it better, but the problem itself does not exist anymore.

[2015-07-11 18:00] #754 closed

[2015-07-11 18:01] xsawyerx commented on #767
Discussed in #644 as the current best behavior.

[2015-07-11 18:01] #767 closed

[2015-07-11 18:15] xsawyerx commented on #462
Small TODO reminder:

`Core::Error` should not be documented in the Cookbook or anywhere for the users to use. Users should only use `send_error` DSL.

[2015-07-11 19:01] xsawyerx commented on #944
@veryrusty While it isn't useful to do in a regular route request, we are trying to do it at $work in order to prevent the running of the route. This prevents having to decorate all the routes.

[2015-07-11 20:45] veryrusty commented on #944
I re-read my comment after a nights sleep; it was meant as a note to myself that the issue involved more than just before hooks.  Sorry @dtcyganov  & @xsawyerx if that caused any confusion.

(I have a patch, just cleaning up some tests)

[2015-07-11 21:26] xsawyerx opened #945 "Fix error template logic in core Error object"
@mickeyn and I were delving into `Dancer2::Core::Error` and #565 and we have the following conclusions (brought up by a lot of anger and sitting for a few hours on this shitty class):

* `error_template` should take precedence over rendering files (both the public/ and the views/ files) because this means the user wants *this specific template* to be rendered in case of errors.
* In addition, we n

[2015-07-11 23:56] veryrusty commented on #944
Bugfix  in #946 with somewhat of a better explanation :)  Thanks again @dtcyganov for reporting and supplying the test case!

[2015-07-12 00:22] xsawyerx commented on #944
Whoa! @veryrusty++

@dtcyganov, now you have to fix the next bug we find at work. :)

[2015-07-12 12:16] LionsPhil commented on #644
I'm not sure I follow your comment, because the problem is you'll actually get a "successful" 200 status if you're doing `return to_json($something_unserializable)`, which is certainly wrong, and no warning or error is logged. (I haven't looked at if there's been any change in this area recently.)

If you intend `to_json` to mask exceptions and not be used like this, I think the bugfix is just doc

[2015-07-12 13:17] xsawyerx commented on #644
I was looking at it from the serializer perspective. The serializer shouldn't crash on this.

[2015-07-12 15:30] LionsPhil commented on #644
Right. I certainly agree that the *deserializer* shouldn't. If I've set up a serializer and my route has given it unserializable content, though, then that is an application bug IMO and ought to be throwing/warning the same way as if the route died. Returning 500 here doesn't seem any more wrong to me than getting a 500 because, say, someone tried to call a method on an undef reference because the

[2015-07-13 02:02] nanis opened #947 "Failure to escape paths in regex patterns causes spurious failures on Windows"
Can be fixed by using `\Q$file\E` on line 22 of the test script `t\logger_console.t`.

See also [Tests failing due to directory separators are unforced errors](http://www.nu42.com/2014/11/tests-failing-due-to-path-separators.html).

<pre>t\logger_console.t ..................................... Unrecognized escape \l passed through in regex; marked by <-- HERE in m/core in t\l <-- HERE ogger_consol

[2015-07-13 02:05] veryrusty commented on #947
Thanks for reporting this @nanis!! Do you have the tuits to patch and create a pull request ?

[2015-07-13 02:08] nanis commented on #947
I'll probably get around to it in less than 12 hours. Just wanted to make sure I submitted it before I forgot.

[2015-07-13 02:11] veryrusty commented on #947
Thanks in advance @nanis; that is most awesomely appreciated!

[2015-07-13 07:08] xsawyerx commented on #947
@nanis++ !

[2015-07-13 14:01] nanis commented on #947
Apologies ... c75cbfe should not have been listed here as it is incomplete (missed the unescaped dot in the pattern). Only 91c2f34 should be applied.

[2015-07-14 01:04] nanis commented on #947
See [pull request](https://github.com/PerlDancer/Dancer2/pull/948) which replaces this issue.

[2015-07-14 01:04] #947 closed

[2015-07-16 10:50] wchristian opened #951 "config key "views" maybe broken with tt?"
15-07-15@17:07:09 (Mithaldu) what is the correct way to configure custom template toolkit paths with dancer2?
15-07-15@17:07:35 (Mithaldu) setting views: meep/marp just causes TT to look for meep/marp/meep/marp/my.tt
15-07-15@17:12:38 (Mithaldu) i guess telling TT to INCLUDE_PATH: . works too, if a little inelegant

[2015-07-16 12:02] wchristian opened #952 "please add a way to disable the serializer for responses within a route"
I have an app that's 99% json API, and needs a small handful of pure html endpoints, which almost entirely use the same code that the rest of the app does. Creating an entirely separate dancer2 app would be a waste of effort.

Right now i am doing this and it serves me decently fine:

    sub html (&) {
        my ( $route ) = @_;
        sub { delete app->response->{serializer}; $route->( @_ ) }

[2015-07-19 02:50] gmalley opened #956 ""headers" is only calling "header" again."
It seems like "headers" is only calling "header" again instead of literally calling the "headers".

When testing the code below with curl, it returns empty.

post '//hook' => sub { my $hd = header "Content-Type"; "Your Headers: [".$hd."]"; };

[2015-07-19 04:51] hvoers commented on #956
This is not a valid issue.
You want to inspect the "incoming POST headers" aka request->headers
"header" and "headers" are for setting one or more *response* headers.

Please close this issue.

[2015-07-19 04:53] hvoers commented on #956
See also https://metacpan.org/pod/Dancer2::Manual#DSL-KEYWORDS

[2015-07-20 04:04] wchristian opened #958 "use *** with ***; seems to be misdocumented"
This is regarding: https://metacpan.org/pod/distribution/Dancer2/lib/Dancer2/Manual.pod#EXPORTS

It claims you can do:

    package MyApp;
    use Dancer2;

    set session => 'YAML';
    use Blog with => { session => engine('session') };

However due to Perl phasers rules, that wouldn't work, since the `use Blog` would be called before the `set session`.

[2015-07-20 05:47] xsawyerx commented on #956
Henk be right! :)

I apologize for confusing people on the mailing list, I was a bit confused myself.

Thank you, Henk.

[2015-07-20 05:47] #956 closed

[2015-07-20 11:23] gmalley commented on #956
Thank you.

[2015-07-21 08:56] #944 closed

[2015-07-22 14:13] aka-raj opened #959 "Custom error template rendering broken by use of var in 'before' hook"
Dancer2 0.161

1) 500.tt rendered OK:

    any '/foo' => sub {
      die ('died here');
      template 'foo';
    }

2) inclusion of a before_template_render hook causes 500.tt to be ignored:

    hook before_template_render => sub {
      my $tokens = shift;
      var some_var => 21; # <= this seems to be culprit ??
    };

* show_errors: 0 -  msg = "Wooops, something went wrong"
* show_errors: 1

[2015-07-22 14:28] aka-raj commented on #959
just realised use of 'var' in before_template_render hook probably not supported - substituting $tokens->{some_var} instead works fine

[2015-07-23 00:18] veryrusty commented on #959
May need to break this into two issues
  * Dancer2::Core::Error->_build_content has two `eval` blocks that render templates. If an error is thrown by either, we never log the actual error. That makes debugging harder than it should be.
  * The error being thrown when the custom template being rendered is
[code]

If someone wants to look into this before I get a chance, it looks like where ever Dan

[2015-07-23 11:12] wchristian opened #960 "the manual links for the debug commands go nowhere"
See: https://metacpan.org/pod/distribution/Dancer2/lib/Dancer2/Manual.pod#LOGGING

[2015-07-23 11:12] aka-raj opened #961 "Custom handling of errors in core.app.before_request"
Custom error template doesn't handle "Exception caught in 'core.app.before_request' filter: Hook error: [...]"

None of the init_error, before_error, after_error & on_route_exception hooks get called beforehand, but the 'before' hook does, but then request terminates with above message.

Can core.app.before_request errors be handled in same way as route errors?

Full text message:

[2015-07-23 12:58] hvoers commented on #960
Should point to:
https://metacpan.org/pod/Dancer2::Manual#debug
Ditto for warning, info and error.

[2015-07-24 11:37] veryrusty commented on #961
`before_request` hooks are executed after a route is matched but before its executed. If they die, rendering custom errors should "just work". Looks straight forward to implement. Expect a Pr soonish :)

[2015-07-25 11:38] djzort opened #963 "Dancer2::Cookbook Templates"
it states "For a full list of the tokens automatically added to your template (like session, request, and vars, refer to Dancer2::Core::Role::Template)."

No such details exist though?

[2015-07-28 11:45] vlyon opened #965 "Dancer2 can't compile & Travis-CI didn't pick it up"
Ever since e250caf86afd60705b7b1e8c7992cf837a5503a3 Dancer2 can't compile due to the missing role `Dancer2::Core::Role::Response` which is used on line 6 of `lib/Dancer2/Core/Response/Delayed.pm`

Sadly this failure has not been picked up by Travis-CI because of how it installs dependencies.
The command: `dzil listdeps --author --missing` will return `Dancer2::Core::Role::Response` as a missing de

[2015-07-28 11:57] veryrusty commented on #965
Nice pickup! @vlyon++  Will fix shortly.

[2015-07-28 12:02] #965 closed

[2015-07-28 12:03] veryrusty commented on #965
Removed the non-existand role from Dancer2::Core::Response::Delayed.

[2015-07-28 12:04] veryrusty commented on #965
Thanks again @vlyon!

[2015-07-28 12:15] vlyon commented on #965
@veryrusty
It's a quick fix, but the problem with `dzil` still remains.
Any way of fixing that to prevent this from happening again?

[2015-07-28 17:14] Vorobeez commented on #785
@xsawyerx, what you mean by "review of the codebase"?
In my view, guide will look like a series of articles, where each article will consist review about some Dancer's module (i.e. Dancer2::Core::Error)
I guess article will guide through basic classes, objects, and functions of a module and shed light on the main purpose of a module.
So what do you think about it?

I new at Dancer2 community and i

[2015-07-30 09:18] xsawyerx commented on #904
This logging comes from the static handler. Having an option for controlling those options in order to do something like disabling the logging of it is a good idea.

[2015-07-30 10:39] veryrusty commented on #904
@xsawyerx that is not the case. Plack::Middleware::Static does no logging. But Plack::Runner does apply the AccessLog middleware in some circumstances.

@tstumm apologies for not commenting in 3+ months. Can you given an example of the log lines you would like to hide/remove?  Also, a brief explanation of how you run your app(s) would be useful.

[2015-07-30 12:23] tstumm commented on #904
@veryrusty
Basically I'm talking about those GET/POST messages - I don't need those when tracking down bugs in my code. You know there is an exception being thrown, but it's rather painful to look for it in the console.
I'm running my apps using plackup.

[2015-07-30 12:48] veryrusty commented on #904
Sounds like you are seeing the default AccessLog middleware that plackup (well, Plack::Runner) applies when the environment is `development`. Try using
[code]

[2015-07-30 15:08] iftekhar25 commented on #719
So, looking back at this patch, I wonder if I'm trying to be too clever by adding MooX::Singleton as a dependency, we can just as well make it a whole lot simpler. Feedback is welcome, happy to revise it.

[2015-07-31 13:17] djzort commented on #890
i am facing this too, --port xxxx doesnt seem to work either?

[2015-07-31 13:21] djzort commented on #890
This seems related https://github.com/PerlDancer/Dancer2/issues/385

Apparently --port is no longer supported but is still in Dancer2::Config pod (http://search.cpan.org/~xsawyerx/Dancer2/lib/Dancer2/Config.pod#Run_mode_and_listening_interface/port)

This works but is not documented

export DANCER_PORT=1234

[2015-07-31 20:24] xsawyerx commented on #785
That sounds like a good idea. I think the word "overview" actually fits better to what I thought than "review".

We will be happy to see your contributions. :)

[2015-08-04 05:18] veryrusty commented on #952
The `template` keyword returns the rendered content which you still need to encode before sending.

Rather than unset the serializer, use `send_file($fh,..)`:
[code]
which could be further refined to use the apps charset.

[2015-08-06 12:04] shumphrey opened #973 "Mutable and other serializers cannot deserialize different content_types"
Since 598ffa7922014b47158954a87e1b90f3516e26bb Dancer2::Serializer::Mutable (or other serializers) is no longer able to deserialize multiple content_types.

Previously, when Dancer2::Core::Request was about to deserialize, it first made a call to Serializer->support_content_type($ct)
Mutable took this opportunity to set its own content type to that so that when it came to deserialize, it knew the

[2015-08-07 04:05] veryrusty commented on #973
Not that it helps, but my memory is that the Mutable serializer has "issues" before that too. There are some notes in #795 which also have a linked PR that was incomplete.

[2015-08-07 08:54] shumphrey commented on #973
True, but in my case I don't use Mutable, I use a home grown thing that does a similar job, and it cannot do the right thing because it isn't given enough information.
As far as I can see, the only thing deserialize needs is the content_type. I don't think it will ever need anything else? I'll knock up a PR that passes request->content_type as an option when it deserializes.

[2015-08-07 14:49] ramortegui opened #974 "Dancer2::Core::Hook inconsistencies"
The documentation refers to  Dancer2::Hook,  and that package doesn't exists.
SYNOPSIS:
   # inside a plugin
  use Dancer2::Hook;
execute_hook

The package seems doesn't have subroutines implemented.

[2015-08-07 15:14] shumphrey commented on #973
So yes, PR #805 and issue #795 are all about this.

[2015-08-11 16:04] fgabolde opened #975 "public_dir option does not seem to work"
The Dancer2::Config POD documents the `public_dir` option, but it doesn't seem to do anything.

After looking at the `Dancer2::Handler::File` code I can't figure out when the Handler object is actually created and registered. In any case, `DANCER_PUBLIC` seems to work (although undocumented), so it might be an issue of loading the config after the handler is registered.

Steps to reproduce:

[code

[2015-08-13 15:22] aka-raj opened #977 "D2::Plugin::Database & log_queries fails"
_config.yml_

    plugins:
      Database:
        log_queries: 1

_myapp.pm_
database->quick_select($sql):

_console_
Undefined subroutine &Dancer::Logger::debug called at [...]/Dancer/Plugin/Database/Core/Handle.pm line 285.

[2015-08-15 08:13] veryrusty commented on #977
This looks like a bug in the plugin.

Ping @ambs & @bigpresh  .

[2015-08-15 12:28] #959 closed

[2015-08-15 12:29] xsawyerx commented on #959
Fix in #962 merged. Thanks for opening the ticket! :)

[2015-08-15 12:33] #961 closed

[2015-08-15 12:33] xsawyerx commented on #961
Fix in #964 merged. Thank you for opening the ticket. :)

[2015-08-15 12:54] ambs commented on #977
Will look to it asap

[2015-08-15 18:15] ambs commented on #977
@aka-raj, do you have the time to test with http://eremita.di.uminho.pt/~ambs/Dancer-Plugin-Database-Core.tar.gz ?

[2015-08-15 19:40] ambs commented on #977
(bug detected, trying to understand if the fix fixes it)

[2015-08-15 20:09] ambs commented on #977
if you prefer, https://github.com/bigpresh/Dancer-Plugin-Database/tree/fix/logger

[2015-08-15 20:16] aka-raj commented on #977
Sure, will let you know. Probably tomorrow (Sunday) before i get chance.

On 15/08/2015 19:16, Alberto Simões wrote:

--
Richard Jones

[2015-08-15 20:16] ambs commented on #977
Sure! Thanks

[2015-08-16 09:46] aka-raj commented on #977
Yes that works for me, all 'quick' methods dump query to console. Thanks.

On 15/08/2015 19:16, Alberto Simões wrote:

--
Richard Jones

[2015-08-16 10:44] ambs commented on #977
Weeee. Releasing during today.

[2015-08-16 10:53] ambs commented on #977
Fixed on Dancer::Plugin::Database::Core version 0.12.
Thanks one more.

[2015-08-16 10:53] #977 closed

[2015-08-18 22:12] murwiz commented on #754
I just encountered this; are there particular versions I should be looking for to make sure I have the patch?

[2015-08-19 08:57] xsawyerx commented on #754
@murwiz, version 0.160000.

[2015-08-21 04:37] JaHIY opened #979 "The request and response should be (de)serialize data respectively"
In most cases, we don't need to (de)serialize data in request.

So I suggest that the `serializer` in `config` should be splited into `serializer_for_request` and `serializer_for_response`.

[2015-08-21 04:50] veryrusty commented on #979
The request body is only deserialized if the request is a PUT, POST, PATCH or DELETE, and the body has length. I suspect these are not "most cases"; @JaHIY Could you please explain your use-case for this ?

[2015-08-21 04:50] JaHIY opened #980 "add `response->content` parameter to `halt`"
In dancer1, I can use only `halt` to set content for response.
[code]
But in dancer2, I should use `response->content` to set content for response and `halt`.
[code]
So why not add `response->content` parameter to `halt`? It is so convenient!

[2015-08-21 04:59] JaHIY commented on #979
@veryrusty It isn't flexible to set the same serializer for request and response. I just want no serializer for request and a `'json` serializer for response.

[2015-08-21 05:29] veryrusty commented on #979
Dancer2 is meant to be "simple", so an app has one serializer. To me, this smells of a micro-optimisation for a specific use case; I understand the want, but not the need. Hence I want to know more about the specific use case.

Do you have any figures, such as what's your (expected?) proportion of requests that would currently be deserialized but you don't need them to be?  Have you tried a writin

[2015-08-21 05:59] veryrusty commented on #980
Nice pick up @JaHIY !  There is even an example in Dancer2::Manual: `halt("Unauthorized")`.

@JaHIY do you wish to put together a patch to fix this omission?

[2015-08-21 06:42] JaHIY commented on #979
I mean the format of request and response should be independent. A very simple API needn't a `JSON` serializer for request. The `form` way is enough, such as twitter API、CPAN API.

[2015-08-21 06:43] JaHIY commented on #980
Let me try.

[2015-08-23 02:09] krokozy opened #982 "Lack of proper learning source"
They are all confuse and lack essential information

**Dancer::Introduction**
Why no Dancer2 ?

**perldancer.org/quickstart**

*dancer2 -a MyWeb::App*
*+ MyWeb-App/bin/app.pl*
*+ MyWeb-App/bin/app.psgi*

The above command does not create */bin/app.pl* , it only creates */bin/app.psgi* while the command "dancer" does the inverse. The information is not only wrong but confuse, i understand *psgi* is

[2015-08-23 02:19] krokozy commented on #982
I can see the are lots of complaints about the Docs in Issues list. It is not only me, it is like the developers are coding the framework for themselves only.

[2015-08-23 02:47] perldj commented on #982
I have an introductory video which will get you started in Dancer2 and
explain a lot of this here:

https://www.youtube.com/watch?v=O7dO3K-krrg

Feel free to watch that to get a good idea of where to start.
I just setup a new Dancer2 application and I did notice that the
instructions to run:

plackup -r bin/app.psgi

don't actually work, it should be:
plackup -r bin/app.pl

So someone should chang

[2015-08-23 11:02] veryrusty commented on #980
Resolved by #981. @JaHIY Thanks for again for reporting and providing the Pr.  :dancers:

[2015-08-23 11:02] #980 closed

[2015-08-23 18:32] krokozy commented on #982
I have no background in modern frameworks and at first, after looking at most Perl frameworks  Dancer2 looked like the one i should get into.

But due to the terrible Dancer2 docs or lack of i moved my focus to Mojolicious yesterday, and while reading Mojo docs that are excellent and have some nice third party articles it was funny because while i was fully understanding Mojo i also started to und

[2015-08-23 18:34] krokozy commented on #963
Move to other framework, Dancer seems good but the docs are a joke.

[2015-08-24 02:53] JaHIY commented on #979
Now I use `app->set_response( Dancer2::Core::Response->new( %{ app->response }, serializer => Dancer2::Serializer::JSON->new ) );` to set serializer for response.

[2015-08-26 09:31] xsawyerx commented on #982
@krokozy Trying to untangle the spiteful speech you have here, let me explain the situation from my perspective.

First, documentation is hard. Yes, it is super important, but unfortunately it is still not trivial.

Secondly, Dancer2 is a fork of Dancer version 1. This included the majority of version 1, which is abundant, but still needs clearing up.

Thirdly, there was and is a lot of work being

[2015-08-26 09:32] xsawyerx commented on #963
Please do not add spiteful comments. This is a comment on a specific problem that needs solving. You have raised another concern for doc issues in general and that should be discussed there (hopefully without any spiteful comments either).

@djzort, good point. I will try to fix that tomorrow.

[2015-08-26 10:41] racke commented on #982
:+1: on untangle it

[2015-08-26 10:49] djzort commented on #963
no rush, just wanted to capture it

[2015-08-26 17:18] krokozy2 commented on #982
@xsawyerx From commom sense perspective, one should not promote a product that does not have acceptable usability conditions. it costs people time and money before they realize they were trapped for marketing. By the way the documentation mistakes are very trivial. Most of it seems to have no mistakes, just really not a good work but the mistakes are really trivial.

*"here's how we untangle this

[2015-08-26 18:24] xsawyerx commented on #982
"From commom[sic] sense perspective, one should not promote a product that does not have acceptable usability conditions. it costs people time and money before they realize they were trapped by marketing."

Are you actually saying we owe you your time and money because we didn't have enough of our own time and money to fully document something to your specifications that we released for free anywa

[2015-08-26 20:35] krokozy2 commented on #982
There is no such thing as free. If one offers this piece of software at no cost that's cause one is  going to profit from it in some way that is not selling it or someone else is paying for it. Your product is no different of a paid product and subject to the same criticism and responsability.

I can fully understand you and i believe Dancer2 is likely to be a good software, but i think responsabi

[2015-08-26 20:53] xsawyerx commented on #982
Not paying == free. It's as simple as that, no matter how philosophical you want to get.

As a paraphrase, I have a bird singing outside my house. She could be singing much more complicated tunes. I can sing along with her or I can just not listen. I cannot tell her she's selling me something and should stop offering her song unless she becomes as good as I want her to be. She's just a bird, doing

[2015-08-26 20:53] #982 closed

[2015-08-28 11:24] xsawyerx commented on #963
@djzort, Done: https://github.com/PerlDancer/Dancer2/commit/7d8b0fecc809f2ff7a09cdbf5cd48b1b1980f208

Thank you. :)

[2015-08-28 11:24] #963 closed

[2015-08-28 11:34] xsawyerx commented on #979
Hi, @JaHIY, :)

Let me just verify that I understand what you mean and your reasons. Please correct me if I'm wrong.

You would like to separate the serializer into two: one for the request and one for the response. This will allow you (and others) to handle the following situations:
1. Deserialize the request, but do not serialize the response.
2. Serialize the response, but do not serialize the

[2015-08-28 11:34] xsawyerx commented on #980
@JaHIY++ !

[2015-08-28 11:40] xsawyerx commented on #719
@veryrusty's #972 was just merged, resolving this issue.

Thanks for all the discussion and work around it. :)

[2015-08-28 11:40] #719 closed

[2015-08-28 11:42] xsawyerx commented on #644
#972 was merged, which finally addresses this issue.

We really appreciate the help raising the issue, discussing it, exposing it, and analyzing and reasoning about it. It was tremendously helpful. And it was tremendously patient. :)

[2015-08-28 11:42] #644 closed

[2015-08-29 14:12] fangyuan opened #985 "prefix dispatch processing are different by Dancer/Dancer2"
Hi, I meet a prolem when try to upgrade to Dancer2.

use case:

[code]

In Dancer, `GET /product` same as `GET/product/`, both return status `200`.

But in Dancer2, `GET /product` status is `404`, `GET /product/` status is `200`.

So I need add `/` for these links in pages, maybe it is not good solution.
Any suggestions? Thanks.

[2015-08-31 07:57] fangyuan commented on #985
Debug code and find the reason is that the `regexp` is different for Dancer and Dancer2.
In Dancer: `_compiled_regexp' => qr/(?^:^(?^:^\/product(?:\/)?$)$)/`
In Dancer2: `'regexp' => '^\\/product$'`

I find the example code in #845,
[code]
then update original Dancer app routes,
[code]
then it can find route exists, fix the problem.

Maybe someone could help add this tip to Dancer2::Manual::Migrat

[2015-08-31 07:57] #985 closed

[2015-08-31 09:18] hvoers commented on #985
No, do not close this.
It's a bug in D2.

[2015-08-31 09:28] veryrusty commented on #985
No, this was a deliberate change. I'll comment more when at a keyboard rather than just a phone. #817 and the linked issues and Prs have the back story.

Anyone wish to do a pull request to note change in migration docs? ;)

[2015-08-31 14:06] veryrusty commented on #985
Here is a slightly longer version.

The two paths `/foo` and `/foo/` represent different resources (see the HTTP spec). In D2 these two routes match `/foo/` but not `/foo`:
[code]
Having one of these matching `/foo` but not the other (as in D1) is inconsistent.

The change in D2 is about constructing routes with prefixes in a consistent way (strings are concatenated before the resulting route is c

[2015-09-04 10:23] ambs opened #990 "Deprecated examples on Dancer2::Plugin"
A simple fix is needed in https://metacpan.org/pod/Dancer2::Plugin to remove that part on 'module compatibility' that is deprecated.

[2015-09-07 10:07] melezhik opened #994 "Dancer2 automated sanity checks with swat"
Hi! I have recently created a sanity checks suite for a simple Dancer application:
- install Dancer
- run a simple dedicated dancer application under plack/starman
- run smokes test against:
    - `:` parameters
    - get, post requests
    - cookies
    - static file
    - config parameter

- An example  travis builds could for found here - https://travis-ci.org/melezhik/dancer2-swat-test
- Till

[2015-09-07 10:18] JaHIY opened #995 "add "charset" to content-type "application/json""
`Dancer2::Serializer::JSON` should read the `charset` from config and add it to `content-type`.

For example, if I set `charset` to `utf-8` in config, the `content-type` of `Dancer2::Serializer::JSON` will become `application/json; charset=utf-8`.

[2015-09-07 10:51] veryrusty commented on #995
Sorry @JaHIY, the specs (see below) do not require it. If you have a use-case where adding this is needed, could you please document what is consuming the response so we can help sort out an alternative approach?

---

[RFC4627](http://www.ietf.org/rfc/rfc4627.txt) states

and goes on to explain how to determine the encoding of the octet stream.

Furthermore, the IANA assignment for [application/j

[2015-09-07 10:51] #995 closed

[2015-09-08 01:53] JaHIY commented on #995
@veryrusty Thank you for your explanation.

[2015-09-09 17:41] plicease commented on #975
I think this is the problem:

https://github.com/PerlDancer/Dancer2/blob/master/lib/Dancer2/Core/App.pm#L556

The setting static_handler is dependent on the default public directory existing, so when you move public to foo and change the configuration it correctly changes the public dir but turns off the static handler.

My work around for this was to set `static_handler => 1`.

[2015-09-09 20:23] fgabolde commented on #975
I see!

That indeed seems likely. It would fit the symptom of working with `DANCER_PUBLIC`, too.

I'll test your workaround tomorrow at work.

[2015-09-10 16:19] xsawyerx commented on #974
Fixed. Thanks! :)

[2015-09-10 16:19] #974 closed

[2015-09-10 16:20] #958 closed

[2015-09-10 16:20] xsawyerx commented on #960
Fixed. Thanks @wchristian, @hvoers! :+1:

[2015-09-10 16:20] #960 closed

[2015-09-10 16:21] xsawyerx commented on #958
Fixed. Thanks! :+1:

[2015-09-10 22:17] xsawyerx commented on #890
I'm sorry I haven't yet replied to this ticket. It's actually much simpler: If you use `plackup`, it doesn't matter what port you pick in the app, it's controlled by `plackup`. If you use `dance`, it will take the port into account:

[code]

[code]

That's it.
*(The version number there is for the development.)*

[2015-09-10 22:17] #890 closed

[2015-09-10 23:06] djzort commented on #890
Could the pod be updated the help the next traveler?

[2015-09-11 05:54] xsawyerx commented on #890
@djzort Absolutely! What do you think would be a good phrasing?

[2015-09-14 12:40] veryrusty opened #1000 "Dancer2::Manual::Deployment has incorrect podname directive"
Its currently `Dancer::Deployment` :(

[2015-09-14 16:10] ambs opened #1001 "404 presents runtime error"
With latest Dancer version, when an unknown route is called, the 404 page shows a runtime error, with backtrace et al. Not sure this is desired.

To test, simple bootstrap a new app, plack it up, and try to access some strange route.

Cheers

[2015-09-14 17:25] ambs opened #1002 "Dancer2::Plugin execute_hook doesn't work as expected"
Accordingly with the docs, one should just call

     execute_hook("hookname", @args);

But it will only work if you do

    $dsl->execute_hook("hookname", @args);

As an example, look into Dancer2::Plugin::JWT version 0.002 and 0.003. This is their only difference, and difference enough to make it work/not work on an application (by curiosity, tests pass on both dists).

[2015-09-14 23:34] veryrusty commented on #1001
Is it the stack trace, or the "Runtime Error" text that's not desired? The text is the default of the error `type` attribute, so could be set when the 404 error is thrown.

If the config setting `show_errors` is true, then `public/nnn.html` will be ignored and either `views/nnn.tt`, `error_template` template, or a default error template (which includes the stack trace) will be used.  (which is not

[2015-09-15 07:45] ambs commented on #1001
I think 404 is not an error of the application. It is a legitimate answer from the server.

So, why to present a backtrace/error message...? No Perl code failed. It just did not found the route. And specially, there wasn't any Runtime error.

[2015-09-15 07:52] racke commented on #1001
I totally agree with @ambs. This is really confusing, especially for our flock of Dancer newbies.

[2015-09-15 07:53] ambs commented on #1001
:+1:

[2015-09-15 14:14] ramortegui opened #1003 "Dancer2::Manual::Testing"
Just to clarify on Cookies section:

In order to make it work the "cookie jar" functions:
* $jar->extract_cookies($res);
* $jar->add_cookie_header($req);

The requests needs to have a complete URL, and for testing purposes could be:
my $server = 'http://localhost';
$test->request( GET $server . '/login', ... );
$req = GET $server . '/logout';

[2015-09-15 17:28] ambs opened #1004 "required Moo version is too old?"
Hey

I had

     Moo                 1.003001
     Role::Tiny        1.003002
     Module::Runtime   0.013

Dancer2 tests failed (a lot of Internal Server errors).
Updated Moo to latest (so, 2.000002) and it updated Role::Tiny to 2.000001 and Module::Runtime to 0.014. And now tests pass.

So, unless someone knows what changed and on what version changed, I suggest requesting a higher version of Mo

[2015-09-15 17:34] Vorobeez commented on #785
Hello again. Sorry, I was out for a while. But now i have time to handle this task (=
I have some problem with issues. I want to resolve some bug or implement an enhancement related to project's code base, but i can't find appropriate task. Can you advice me some issue, please?

[2015-09-15 23:33] veryrusty commented on #1004
Without spending time digging through what the actual minimum version of Moo we support, I suggest we specify Moo 2.000001 as the minimum as this uses strictures 2, which fatalizes only a subset of warnings.

[2015-09-15 23:41] veryrusty commented on #1001
There is a more general issue; is a stack trace applicable for *any* "error" with a `4xx` code?
From the reasoning from @ambs and @racke above, I think not.

In other words: stack traces should only be included for `5xx` errors codes when `show_errors` is true.
(which is simple to implement)

[2015-09-16 00:28] veryrusty commented on #1001
If `show_errors` are true, do we still want the rest of the information ( $env, config, etc) on the error page  for `4xx` codes?

[2015-09-16 08:03] ambs commented on #1001
I would say no. I would prefer a simple 404 - Not Found - Route that was not found.

But happy with other ideas :)

[2015-09-16 08:03] ambs commented on #1004
What would be my decision too :-)

[2015-09-16 08:06] racke commented on #1001
Yeah, I agree with @ambs. After all, 404 isn't necessary an actual error.

[2015-09-16 14:28] renatolrr opened #1005 "It's necesary to install perl 5.20"
I don't found the pre-reqisite un the documentación .
I must to intall perl 5.20

[2015-09-17 07:59] racke commented on #1005
Please elaborate, other versions of Perl work as well with Dancer.

[2015-09-17 20:50] renatolrr commented on #1005
I use Debian 8 testing , perl 5.14.4 and not found the directory perl 5.20

[2015-09-18 13:23] xsawyerx commented on #1005
@renatolrr why do you say you need to install 5.20? We're not using Dancer2 with 5.20.

[2015-09-18 13:24] xsawyerx commented on #1004
Go for it!

[2015-09-18 13:25] xsawyerx commented on #1003
Completely forgot about that. You're absolutely right!

[2015-09-18 13:28] xsawyerx commented on #1002
Why not fix it then?

[2015-09-18 13:28] xsawyerx commented on #1000
OUR 1000 TICKET!
(AND ON SUCH AN IMPORTANT ISSUE! :P )

[2015-09-18 14:33] veryrusty commented on #1005
The Debian team have libdancer2-perl 0.162000 for sid with perl 5.13.9 as minimum perl version. They would yell if something like this was amiss. We test back to perl 5.10 on TravisCI. There is nothing in those logs to indicate 5.20 is needed.

On a perl 5.14.4 image (thanks docker!),  `cpanm Dancer2` fails with the latest App::Cmd release (v0.328). Cpantesters has that as a general fail below per

[2015-09-18 16:07] ambs commented on #1002
No clue on how to fix it (shame)

[2015-09-18 16:18] ambs commented on #1004
See https://github.com/PerlDancer/Dancer2/pull/1006
As simple s it is, I could go and merge ahead, but I am sure I did something wrong O:-)

[2015-09-18 18:02] renatolrr commented on #1005
Thank, i install perlbrew and perl 5.20, perl 5.14
cpan dancer2 (using perl 5.20)
And now it's running under perl5.14
Thk and close

[2015-09-18 18:02] #1005 closed

[2015-09-18 18:59] xsawyerx commented on #1005
I had thought about removing `App::Cmd` and started it, but never got around to finishing. :/

[2015-09-19 23:47] xsawyerx commented on #903
We don't have *that* many issues. We barely tag them even nowadays (something I was just looking at). Is it possible that this is over-engineering it?

[2015-09-19 23:50] xsawyerx commented on #1001
We shouldn't be providing a stacktrace for a 4xx, only 5xx. Who's fixing this? :)

[2015-09-19 23:53] xsawyerx commented on #979
Considering this is intended behavior (at least right now) and the discussion doesn't seem to continue (for now), I'm closing this issue. If you would like to continue this conversation, either reopen the ticket, or contact us (IRC, mailing list, etc.).

Have a great day. :)

[2015-09-19 23:53] #979 closed

[2015-09-19 23:57] xsawyerx commented on #919
This relates to #408.

We should definitely support `confdir` again.

[2015-09-20 11:19] veryrusty commented on #1001
Thanks for the concise summary @xsawyerx . Pr on its way very soon :)

[2015-09-20 13:44] #1001 closed

[2015-09-20 13:44] ambs commented on #1001
:+1:

[2015-09-20 13:45] xsawyerx commented on #1001
@veryrusty my summary was just agreeing with you fully. You described it aptly. :)

Fix by @veryrusty (#1007) merged. Thanks everyone! :heart:

[2015-09-20 13:49] xsawyerx commented on #1004
#1006 merged, closing this. @ambs++ :+1:

[2015-09-20 13:49] #1004 closed

[2015-09-20 13:50] xsawyerx commented on #785
@Vorobeez Would love to help. What is it you're trying to do? How can we help?

[2015-09-20 14:16] Vorobeez commented on #785
@xsawyerx I have a concept for guide for developers that will to want contribute to Dancer 2 project.
I want write some kind of developer's diary. In every article(or chapter) i will tell about my experience in contributing to Dancer 2 Framework.
So i want to begin work with Dancer 2 and write some code for it, but didn't found any appropriate task. Can you advice me some task or bug that i can im

[2015-09-20 18:39] xsawyerx commented on #785
@Vorobeez You need not apologize! Most of the core devs don't actually have English as a first language either. :)

When it comes to a developer guide, I'm interested in things that will help others pick up tasks as well. While a diary sounds very interesting (and even a good talk for a conference!) it might not be ideal for other developers if they just want to learn how to get working on Dancer2

[2015-09-20 22:43] xsawyerx commented on #994
@melezhik I apologize for my ignorance, but why did you create the ticket? What would you like us to help with?

[2015-09-21 05:53] melezhik commented on #994
Hi @xsawyerx ! Thanks for the answer. There many ways as swat could be used.One of possible interest for Dancer2 developers is to provides black box tests to be run in continues integration chain. Like you dev guys develop another version of Dancer and runs some checks after commit. This is travis example with tap output of such a tests. Current it is possible by swat:

- installs  an Dancer2 fram

[2015-09-21 06:48] xsawyerx commented on #994
Thank you for the input. We will discuss the option of using swat. Meanwhile I'm closing this ticket since there is no "issue" to fix.

Thanks again.

[2015-09-21 06:48] #994 closed

[2015-09-21 06:49] melezhik commented on #994
sure, thanks.

[2015-09-21 17:08] Vorobeez commented on #785
@xsawyerx, thank you for feedback (=
I will take #919 and after completing it i will start work at the diary, i guess.

[2015-09-21 17:08] Vorobeez commented on #919
Can i take this bug?

[2015-09-21 20:08] veryrusty commented on #919
@Vorobeez go for it! :smile:

[2015-09-22 06:45] xsawyerx commented on #919
What we are looking for is support for the configuration option `confdir` which will allow someone to control where the configuration will be loaded from. Come to think of it, this might not be possible. There are two situations in which someone uses it:

1. On the command line
2. In the app: `use Dancer2; set confdir => '...';`

The first isn't supported since the command line is now `plackup`. W

[2015-09-24 17:53] nunorc opened #1008 "Deprecation warning seems off"
When running the following application:
[code]
I can see the following message in the logs:
[code]
Which seems off, because there is no actual issue with the Database plugin. Also, if we remove the use statement to load the other plugins the warning no longer appears. Which also happens if we exchange the order in which the plugins are loaded (e.g. load the Database plugin last).

Is anything wron

[2015-09-24 17:55] jfallmann opened #1009 "delayed with template error"
I tried to use the new delayed method with templates as content like this,

get '/test/:*?' => sub {
	my $id	      = params->{'id'};
	my $blub	      = params->{'blub'};
    delayed {
        flush;
        content template 'results', {
            'id'  => $id,
            'bla' => $blub
        };
        ### Process further
        push @tmp, "String";

        content template 'results', {

[2015-09-24 17:59] ambs commented on #1002
Question: fix the docs or fix the module? :-D

[2015-09-24 18:09] Vorobeez commented on #919
@xsawyerx, thank you for explanations.
I'm going to code review. (actually, i'm started reviewing ConfigReader.pm).
I wanted to say that my code review may take week or more, is it not bad?
(i'm not familiar with Moose).

[2015-09-24 21:45] xsawyerx commented on #919
@Vorobeez Not a problem at all. :)

[2015-09-26 03:17] veryrusty commented on #1008
Thanks @nunorc . Linking to to the Pr #976 which has a hack to silence the (incorrect) warning.

[2015-09-26 13:10] ambs commented on #1008
Should be fixed on master. Cheers.

[2015-09-26 13:10] #1008 closed

[2015-09-26 14:25] nunorc commented on #1008
No deprecation warning shows up with my previous example using master.

Thank you.

[2015-09-26 14:28] ambs commented on #1008
\o/

[2015-09-28 17:52] xsawyerx commented on #846
@drmuey care to update with the test? :)

[2015-09-28 17:57] drmuey commented on #846
you bet, I am in the middle of crazy town ATM so it might be a bit :)

[2015-09-28 17:58] xsawyerx commented on #672
@burnersk update? :)

[2015-09-28 19:43] cromedome commented on #990
Are you talking about the "Deprecation note" between the "register_plugin" and "plugin_args" sections? If so I will cut that out and submit a pull request shortly.

[2015-09-28 20:18] xsawyerx commented on #846
Take your time. :)

[2015-09-29 16:34] b10m opened #1013 "before_template(_render) hook broken since 0.16200"
While upgrading to 0.16200 I noticed plugins that use the before_template hook die with:

Example to replicate this:

App (test) code:

[code]

With a very basic template named ```views/t.tt```

[code]
The problem, I guess, is the order of operations here. When I move the ```set template => 'template_toolkit';``` above the ```hook```, all works as expected, but that'd means I have to use construct

[2015-09-29 16:38] b10m commented on #1013
Oh, the real issue comes from the fact that ```$self``` doesn't have a ```->request``` (yet) in ```Dancer2::Core::Role::Template::_prepare_tokens_options```

[2015-10-01 13:27] rleir commented on #951
Are you still seeing the problem? (please close the issue if not). In my test, it seems correct to me:

set views => path(dirname(__FILE__), 'meep/marp');

.. lib/Cfoo/meep/marp/hello.tt is not a regular file or reference at /usr/local/share/perl/5.20.1/Dancer2/Core/Role/Template.pm line 128.\n"}

[2015-10-01 14:00] rleir commented on #975
Agreed, the workaround works:
static_handler: 1

I am triaging: should we accept the workaround and close this issue, or would you like to pull? Or leave it open a while?

[2015-10-01 14:13] rleir commented on #886
close this issue?  .. when you get a moment, thanks

[2015-10-01 15:15] ambs commented on #886
Sure.

[2015-10-01 15:15] #886 closed

[2015-10-01 19:40] wchristian commented on #951
Repro steps:

- osname=MSWin32, osvers=6.3, archname=MSWin32-x86-multi-thread-64int
- uname='Win32 strawberry-perl 5.18.4.1 #1 Thu Oct  2 12:10:29 2014 i386'
- dancer2 0.162000 installed
- download https://dl.dropboxusercontent.com/u/10190786/micro.zip
- unpack
- perl app.pl
- curl localhost:3000
- error @2015-10-01 21:30:03> Route exception: Failed to render template: file error - rami\my.tt: not

[2015-10-01 19:51] girlwithglasses opened #1016 "`prefix` peculiarities"
Not sure if this is a bug or a feature, but it should be documented. If you are using `prefix` and have your routes spread across several packages, you need to ensure that `prefix` is undefined at the end of each package of routes, or you'll get weird 404 errors. My situation:

I've got a wrapper app that holds all my routes:

    package WrapperApp;
    use Routes::Here;  ## routes starting with

[2015-10-01 20:04] fgabolde commented on #975
@rleir At the very least, the workaround should be documented before this issue is closed, don't you think?

I can't speak for the devs of course, but I think this should be considered a bug.

If the devs don't have tuits to work on this (it's admittedly not a deal breaker and like you said there's a workaround) I can provide a patch, but it won't be ready any time soon.

[2015-10-01 21:08] veryrusty commented on #951
The example by @rleir has an absolute path, whereas the example from @wchristian has a relative path for `views`.  Pr #955 has the details even if the solution there is not the preferred one.

[2015-10-01 21:18] plicease commented on #975
I agree with everything @fgabolde said in the previous comment.

[2015-10-01 22:39] girlwithglasses commented on #1009
You might be better off calling Template::Toolkit directly as Dancer2's `template` call does more than just render the template -- it adds various config and request-related data to every template.

Your new `delayed` section might look like this:

    delayed {
    	my ( $id, $blub ) = do_something_cool_here();
    	my $tt = Template->new($tmpl_config) || die "Template error: $Template::ERROR\n";

[2015-10-02 12:54] rleir commented on #951
@veryrusty Thanks for #955. @wchristian Does this work for you?

[2015-10-02 14:20] ramortegui opened #1018 "Behaviour Dancer2::Plugin execute_hook"
Hi,

When execute_hook has been called, the subroutine associated runs more than once.

I asked on irc, and by email, but didn't receive anything about it.  So I create a simple code to check the behaviour.

So, the issue is, when execute_hook is called runs more than one time.

Ruben.

File: lib/Dancer2/Plugin/MyPluginTest.pm
:::::::::::::::::::::::::
MyPluginTest.pm
:::::::::::::::::::::::::

pa

[2015-10-02 14:24] wchristian commented on #951
The explanation in #951 is fine, though i'll have to leave it up to you, whether you wish to close this based around having one unaccepted pull request.

[2015-10-02 14:43] veryrusty commented on #951
Please leave the issue open.

[2015-10-02 14:48] xantronix opened #1019 "delayed() will fail when send_file() is used within"
As the subject says, delayed() will fail when send_file() is called within. Dancer2::Core::App will fail like so:

    Can't call method "env" on an undefined value at /usr/local/share/perl/5.18.2/Dancer2/Core/App.pm line 883.

The smallest code to reproduce the failure:

    get '/foo' => sub {
        delayed {
            send_file 'bar.txt';
        };
    };

Discovered this in Dancer2 0.1620

[2015-10-02 16:24] xsawyerx commented on #990
Fixed by #1020. Thanks!

[2015-10-02 16:24] #990 closed

[2015-10-02 17:18] xsawyerx commented on #739
Fixed by #988!

[2015-10-02 17:18] #739 closed

[2015-10-02 17:18] xsawyerx commented on #740
#988 merged!

[2015-10-02 17:18] #740 closed

[2015-10-02 17:19] xsawyerx commented on #941
Fixed by #999 and merged!

[2015-10-02 17:19] #941 closed

[2015-10-02 20:56] dscoular commented on #867
Hi,
I agree with xsawyerx, I'd like to have routes which bypass the serializer if they return a SCALAR instead of a reference (or structure as you term it). The Dancer2::Cookbook documentation  hints that this will be the case:

It would be great if it was as simple as returning a reference for JSON and a SCALAR for text/html. It would also be nice if the content type was also respected.

Cheers,

[2015-10-03 03:55] veryrusty commented on #867
In general, serializers need to be able to be passed *any* perl data structure and do what they must with them. Sounds like the cookbook needs updating.

If you wish scalars to be treated differently, and *can't* split your app, there are some _hacks_ in #952 if you have a very small number of html endpoints, or if there are many, writing a custom Dancer2 serializer that treats scalars differently

[2015-10-04 08:31] sdeseille commented on #975
Hello

I will be happy to update documentation and make pull request to fixe that.
Can I ?

regards

sdeseille

[2015-10-04 08:55] dscoular commented on #867
Thanks all!

I split my app. Thanks for all the help... now I just need to figure out how to switch JSON pretty on and off based on the request's params.

Cheers,

Doug
_"the big print giveth and the small print taketh away"._

[2015-10-04 10:32] sdeseille commented on #975
I found public_dir entries in Config.pod and Manual.pod. I made test to validate each case described in documentation.

Do you know if their is another place where public_dir is mentioned ?

[2015-10-04 10:51] sdeseille commented on #975
I created branch "update_documentation_about_public_dir" in order to propose the pull request.

[2015-10-04 20:17] sdeseille commented on #945
Hi
I'm interested to work on this ticket but i'm not sure to understand what you mean by "default_error_template".

When i look in the code, I see that after tried each possibility to render error we call "default_error_page". Do I understand that you want to replace this last method by "default_error_template" method ?

regards

sdeseille

[2015-10-04 22:34] cromedome commented on #1002
Same question :) Docs or code? I can take a shot at either.

[2015-10-04 22:51] cromedome commented on #1003
Did this get fixed and the issue not get closed? Unless I am missing something really obvious, I don't see where the examples don't do this, and there's a nice note at the end explaining what you just mentioned :)

[2015-10-05 00:45] veryrusty commented on #1002
My vote is for docs (I'd prefer any coding effort on plugins to be spent on Dancer2::Plugin2)

[2015-10-05 02:11] cromedome commented on #975
Migration.pod, line 55.

[2015-10-05 02:34] cromedome commented on #975
While the the workaround seems fair, I agree with fgabolde, I think i's a bug that should be fixed.

I looked through things and if I am following right, the default config is built, ConfigReader reads any additional files and merges their contents with the default config. Nowhere is the test for static_handler rerun (validating plicease's observation). My question is, at what point in the ConfigR

[2015-10-05 06:36] racke commented on #1002
Yeah it is a bug, but for the time being I also favour to adding a note to the docs. I think we learned that Dancer2::Plugin2 is viable proof of concept to fix the outstanding plugin issues **and** write nicer, OO code inside the plugins.

[2015-10-05 09:53] internetionals opened #1022 "Using Dancer2 will unconditionally import some 'import' symbol"
When you do:

    package Foo;
    use Dancer2;
    use Exporter qw( import );

You get:

    Subrouting Foo::import redefined at /usr/share/perl/5.20/Exporter.pm line 33.

But the exported "import" method from Dancer2 is not functionally equivalent with the one from Exporter.

And the following won't fix the problem:

    use Dancer2 '!import';

[2015-10-05 11:29] cromedome commented on #1002
I can get a PR put together today to address this.

Jason A. Crome / CromeDome
crome-plated: Web Development and Custom Programming
http://crome-plated.com

[2015-10-05 12:18] racke commented on #1002
@cromedome, please go ahead!

[2015-10-05 14:58] rleir commented on #785
How about a dev guide wiki at http://perldancer.org/contribute? Whoever has a moment can add developer info to the wiki. @Vorobeez your diary could have a place in the wiki, and no worries about language.

[2015-10-05 20:12] sdeseille commented on #975
Thank you @cromedome . I updated Migration.pod. Would you check my branch before i do pull request ?

regards

sdeseille

[2015-10-05 20:22] cromedome commented on #975
That looks good to me, @sdeseille!

I apologize in advance if you're writing a doc patch for something I end up fixing :) Your changes look good though!

[2015-10-05 21:59] sdeseille commented on #975
Don't worry. I'm happy ;)

[2015-10-06 07:13] jfallmann commented on #1009
Hi,
Thanks for your help!
/will try asap, was without stable internet for the last days.

[2015-10-06 13:54] rleir commented on #47
Can it be closed now?

[2015-10-07 21:33] xsawyerx commented on #1002
@cromedome's fix was merged. Thanks! :+1:

[2015-10-07 21:33] #1002 closed

[2015-10-08 16:33] cromedome commented on #945
If I am understanding correctly, if `default_error_template` is set, we try to render that template instead of calling `default_error_page`. It lets the user specify what the generic error page looks like rather than giving the one that Dancer creates. Very nice feature - excited to see what you do with it!

Let me know if that clears anything up?

[2015-10-08 16:38] cromedome commented on #919
@Vorobeez how's it going with this? Anything we can help with? Please let me know! :)

[2015-10-09 00:21] rleir commented on #919
Can we put something in bin/app.psgi to set the confdir option?
Or do it via an env variable. Both would be a bit confusing.
Or a symbolic link from config.yml to /etc/myapp/config.yml so the confdir variable is not needed.

[2015-10-09 15:07] cromedome commented on #919
You *can* set DANCER_CONFDIR. Looking through Dancer2::Core::Role::ConfigReader, this seems supported already.

I like the idea of `use MyApp; set confdir => ...` in my app.psgi, but I don't know how feasible that is yet. Still getting the hang of some things.

[2015-10-09 18:32] sdeseille commented on #945
hi @cromedome, thanks !! It is more clear to me now.

regards

sdeseille

[2015-10-09 19:18] sdeseille commented on #945
Hi again

In thinking more deeply to problem description i understand that we let user to specify custom template to compose its generic error page with method "error_template" and we want to add an additional method named "default_error_template" to offer an alternative in case Dancer2 is not able to find user template.

regards

sdeseille

[2015-10-11 19:22] Vorobeez commented on #919
@cromedome, hello. Sorry, i didn't have so much time to investigate this bug. Now i am reviewing Dancer2::Core:App.pm. Give me, please, one week to offer some solution.

[2015-10-11 19:23] Vorobeez commented on #785
@rleir, that is sounds good!
Who can create this wiki at the main site?

[2015-10-11 20:29] cromedome commented on #919
No problem! Not trying to rush you, I just wanted to make myself available if you needed anything :)

[2015-10-12 13:20] cromedome commented on #975
I would like to add a _validate_config() method to Dancer2::Core::Role::ConfigReader that looks for situations like this, where changing one setting from default might require us to alter/check/correct/set another setting. For now, this would be the only case that we are checking for, but it gives us some plumbing in case we run across other instances where this might occur.

Thoughts?

[2015-10-12 13:21] cromedome commented on #975
Forgot to mention, this would get added around _normalize_config() in the existing _build_config() method.

[2015-10-13 12:23] yanick opened #1026 "D2P2 - return empty hashref instead of undef when there is no config"
See https://github.com/PerlDancer/Dancer2/pull/1010#issuecomment-147665846

[2015-10-13 12:27] yanick opened #1027 "D2P2 - rebase d2p2 branch on master"
... so the dzil errors go away.

[2015-10-13 12:28] xsawyerx commented on #1026
:+1: Absolutely!

(I did the same with `captures` in 3ac88bb66df37405a9cc3d405f4c3b2e87d75a47.)

[2015-10-13 12:29] xsawyerx commented on #1022
This is not a bug, but expected behavior from Dancer2. Dancer2 will override your `import` subroutine and will provide it's own. That's how `use MyApp` actually loads things properly.

You shouldn't be using `Exporter` and `Dancer2` in the same package.

[2015-10-13 12:29] #1022 closed

[2015-10-13 12:31] racke commented on #1026
The other question is why is there no config :-).

[2015-10-13 12:33] yanick commented on #1026
@racke No config is a perfectly cromulent thing to happen. It just means that there was no

[code]

for plugin `Foo`, which will happen, for example, if the app programmer goes for all defaults.

[2015-10-13 12:34] yanick commented on #1027
Done

[2015-10-13 12:35] #1027 closed

[2015-10-13 12:40] racke commented on #1026
I know, but I just suspect that sometimes the config for a plugin used by another plugin is hidden in the wrong drawer.

[2015-10-13 12:45] yanick opened #1028 "Document how to test with plugins defined inline"
and how to use the BEGIN { } trick

[2015-10-13 12:46] yanick opened #1029 "document plugin attributes and keywords"
document warning for  attribute and plugin_keywords mashup.

[2015-10-13 13:33] jfallmann commented on #1009
This removes the errors, however I can not render two templates from one route, which was the actual reason I started to use delayed, I fear this was unclear as my initial question was badly formatted.

    get '/test/:*?' => sub {
        my $id = params->{'id'};
        my $blub = params->{'blub'};
        delayed {
	    my $tt = Template->new(
		{INCLUDE_PATH => "$path",
		 WRAPPER  => 'layout.

[2015-10-13 13:37] jfallmann commented on #1009
I suppose this is not really an issue and will transfer the question to the mailing list,
thanks a lot for your help!

[2015-10-13 13:37] #1009 closed

[2015-10-13 13:40] rleir commented on #785
My suggestion is that the wiki would be at Github, with a link from http://perldancer.org/contribute/. The wiki here could be enabled only for collaborators on our repository: https://help.github.com/articles/changing-access-permissions-for-wikis. (Or it can be open, but then someone needs to manage it). Hopefully this all would work as well as Wikipedia, with the contents being mostly up to date,

[2015-10-13 18:32] #1028 closed

[2015-10-13 19:19] #1029 closed

[2015-10-13 20:36] rleir commented on #903
An interesting question thanks, but perhaps this is not the place for it. Can we close it?

[2015-10-13 22:41] hvoers commented on #1022
But we do it in D1.
How should we export subs that call DSL words in D2?

[2015-10-14 00:31] xsawyerx commented on #1022
@hvoers The way it works in D2 is that we provide the App class with our own `import` method that allows doing things like:

    use MyApp;
    use MyApp::API appname => 'MyApp';

This is done because when `MyApp::API` uses `Dancer2`, it provides it with an `import` method (just like `Exporter` would do when you use that). This is why you can't use both. Also, you really shouldn't. Dancer is for D

[2015-10-14 00:31] xsawyerx commented on #1022
@hvoers I hope I answer your question, but if I didn't, I apologize and would be happy to explain what I didn't understand I asked. :)

[2015-10-14 00:58] hvoers commented on #1022
On Tue, 13 Oct 2015, Sawyer X wrote:

What would you call this, a DSL or a helper:

sub documentroot {
     return config->{public_dir} || config->{public};
}

[2015-10-14 07:25] xsawyerx commented on #1022
A function.

What I'm trying to say is that you shouldn't be writing something like:

    use MyApp qw<func1 func2>;

Because Dancer2 needs those parameters for Dancer2-related stuff:

    use MyApp 'nopragmas'; # for example
    use MyApp appname => 'OtherApp'; # another example

[2015-10-14 09:57] hvoers commented on #1022
PK. So I can't write:

    package MyLib;
    use Dancer2;

But what about Dancer2::Plugin::Things Do they export an import?
Can I write:

    package MyLib;
    use Dancer2::Plugin::Helpers;
    sub documentroot { return dancer_config->{public_dir}; }

?

[2015-10-14 19:32] veryrusty opened #1031 "Manual still mentions context object"
Need to revise the section of Dancer2::Manual on [The Session keyword]( https://github.com/PerlDancer/Dancer2/blob/master/lib/Dancer2/Manual.pod#the-session-keyword).

It discusses the "context" object, which was removed over a year ago.

[2015-10-15 09:57] melezhik commented on #994
Hi @Xaerxess !  btw I have updated latest swat test suite for dancer2 -  please follow  https://github.com/melezhik/swat-examples/tree/master/dancer

[2015-10-15 10:00] Xaerxess commented on #994
@melezhik CC: @xsawyerx ;)

[2015-10-15 10:02] melezhik commented on #994
sorry  @Xaerxess  , this was github wrong prompt, definitely I mean @xsawyerx !

[2015-10-15 10:08] Xaerxess commented on #994
No problem!

[2015-10-15 22:06] xsawyerx commented on #1022
@hvoers I think so... did you try and it failed?

[2015-10-16 06:44] hvoers commented on #1022
@xsawyerx  I did try and it did not fail.
Now I have to think about "Do I want Plugin::Helpers?".
Dunno yet.

[2015-10-16 15:31] xsawyerx opened #1032 "Generate .dancer file when scaffolding a new app"
There's no reason why we shouldn't generate this file. It might help move away from the `bin`/`lib` directory checks.

[2015-10-16 21:39] xsawyerx commented on #1019
@xantronix I completely forgot to mention this, but `send_file` works asynchronously and streaming automatically if it's possible.

[2015-10-16 21:41] abeverley opened #1035 "Tying a session to a domain"
Hi,

I'd like to be able to tie a session to the domain it originated from. E.g. if a user accesses an app using domain1.com (subsequently generating a session for that site), and then uses domain2.com to access the same site but using the cookie from domain1.com, I'd like that to fail.

The reason is that I am hosting multiple sites at the same app, and would like to prevent "strange" behaviour t

[2015-10-17 10:15] abeverley commented on #1035
This is actually worse than I thought. With the above and DPAE, it's possible for a user to authenticate with one site, and then use the cookie from that site to access the second site, even if he has no credentials in the second site (although it does need the username to be the same).

I could patch DPAE, but that would be a hack; I think the correct place would be the next level up in Dancer it

[2015-10-17 10:55] abeverley commented on #1035
Okay, I've got a workaround for the time being (see below), but I still think this would be a nice feature.

[code]

[2015-10-18 16:20] hvoers opened #1036 "Running dispatch.fcgi as ScriptAlias"
I deploy my D1 apps via dispatch.fcgi like this:

    ScriptAlias /appx /path/to/appx/dispatch.fcgi

See:
https://metacpan.org/pod/distribution/Dancer/lib/Dancer/Deployment.pod#Running-as-a-cgi-script-or-fast-cgi-under-Apache

Should D2 support this as well?

[2015-10-19 05:33] veryrusty commented on #1036
The `dispatch.fcgi` scripts for Dancer and Dancer2 both use Plack::Handler::FGCI, so I'd expect the same deployment options when using FCGI. @hvoers have you tried ?

ps. doc patches are welcome ;)

[2015-10-19 06:30] hvoers commented on #1036
Tried yesterday and found it after a short night this morning:
The environment must be set to production before "use Dancer2;".

    BEGIN {
        $ENV{DANCER_APPHANDLER} = 'PSGI';
        $ENV{DANCER_ENVIRONMENT} = 'production';
    }
    use Dancer2;

The generator must be patched too, and the docs.

[2015-10-21 06:56] hvoers commented on #1036
I can add 2 files to Dancer2/skel/bin/
- stdio-dispatch.fcgi
- daemon-dispatch.fcgi
and include the deployment in the POD of these files.

Would you like that?

[2015-10-21 08:03] veryrusty opened #1039 "DSL keyword for request headers"
via @mickeyn:

[2015-10-21 13:15] mickeyn commented on #1039
background:
the current version of D2 allows access only through request->headers, since we don't force installed Plack version, this may be either HTTP::Headers or HTTP::Headers::Fast, both not providing a HMV type of access which would be consistent with the other *_parameters methods

[2015-10-21 14:37] veryrusty commented on #952
@wchristian If you have a spare minute, could you take a look at [Dancer2::Plugin::SendAs](https://metacpan.org/pod/Dancer2::Plugin::SendAs). Suggestions are much appreciated!

[2015-10-22 09:48] fgabolde opened #1041 "MANIFEST is not clean"
In the latest Dancer2 release, there are a few too many files packaged in the tarball:

[code]

[2015-10-22 12:25] xsawyerx commented on #1041
I'd love to clean up these files' generation to begin with.

There's no point in keeping this ticket since it's just local files I accidentally released it with. I've removed them locally and they won't be in the next release.

[2015-10-22 12:25] #1041 closed

[2015-10-22 12:43] xsawyerx commented on #1039
Up until the current version (including) it might have returned `HTTP::Headers` but from the next version we'll require the minimum version of `Plack` that introduces the `HTTP::Headers::Fast`.

Picking the DSL keyword would probably be the hardest part.

[2015-10-22 12:44] veryrusty commented on #951
Fixed by #1037. Thanks @wchristian for raising the issue!

[2015-10-22 12:44] #951 closed

[2015-10-22 13:04] veryrusty commented on #952
Dancer2::Plugin::SendAs solves the original issue. Closing issue.

[2015-10-22 13:04] #952 closed

[2015-10-22 13:15] mickeyn commented on #1039
why not 'header_parameters' ?

AFAIK, HTTP::Headers::Fast doesn't use HMV, I suggest creating one lazily on access.
returning the internal object from Plack::Request doesn't seem like a correct approach, as this may change again.

[2015-10-22 14:10] xsawyerx commented on #1039
I like `header_parameters`.

[2015-10-22 14:12] xsawyerx commented on #1039
Although it does seem.. a bit odd. It's not really parameters. It's just header values.

[2015-10-22 15:34] mickeyn commented on #1039
request_headers ?

though, in that case, we might want to introduce response_header/s and deprecate the implicit ones.

[2015-10-22 15:58] wchristian commented on #952
I'm not on the project that needed it anymore, so i can't give it a test, however looking at the synopsis the plugin looks fine. However, personally i wouldn't consider this resolved unless the plugin is also mentioned in the Dancer2 core docs, as it otherwise becomes a piece of tribal knowledge (i hope it is known why that is bad).

[2015-10-23 05:47] veryrusty commented on #952
Thanks @wchristian. Agree that tribal knowledge sucks.  I'll get it documented.

I've got a project I want to use it on; if that is successful I plan on making it core functionality.

[2015-10-23 12:39] wchristian commented on #952
Sounds good. :)

[2015-10-25 19:41] slashbeast opened #1046 "In-config no_server_tokens does not work."
Hello,

It seems that the no_server_tokens if put in config is completely ignored.

Adding

    no_server_tokens: 1

to config.yml or environments/*.yml does not work. Dancer still sends Server header with it's version.

As per documentation

    no_server_tokens (boolean)
    If set to true, Dancer2 will not add an "X-Powered-By" header and also append the Dancer2 version to the "Server" header.

[2015-10-25 20:28] #1032 closed

[2015-10-26 16:36] yanick opened #1047 "add engine.*.build hooks"
... so that plugins can add hooks to play with them at creation time.

See https://github.com/PerlDancer/Dancer2/pull/1010#issuecomment-151167734 for motivations.

[2015-10-26 17:10] Vorobeez commented on #919
@cromedome, hello again. I have some questions. Maby you will answer to me?
1. I didn't use Moo before. `BUILD` method will called when you create instance of some class? (e.g. Dancer2::Core:App).
2. I don't understand at all how Dancer2 starts. For instance i ha ve that code:
[code]
What will happen after calling `dance` method? And when Dancer2 will call `impot` method from Dancer.pm?

[2015-10-26 18:30] cromedome commented on #1046
The code supports this. If you look here:
https://github.com/PerlDancer/Dancer2/blob/master/lib/Dancer2/Core/Runner.pm#L99-L101

the config files are never consulted. I'll start looking at this.

[2015-10-27 14:55] yanick opened #1048 "Document and implement 'with_plugin' and 'with_plugins'"
related to #1010

[2015-10-28 13:04] rleir commented on #743
@VinceW sums this up nicely. In addition, I think that any time we deprecate something there should be an issue raised here for discussion. Then we can think of things like
- how severe would breakage be due to continued use of the hard deprecated feature? (data corrupted, site down, visual difference, minor bother)
- how many existing projects are likely to be affected
- how much work might be ne

[2015-10-29 21:36] basbloemsaat opened #1050 "%2f in uri and PATH_INFO vs REQUEST_URI"
Dancer2 uses PATH_INFO to match routes (in Core::Route->match Core::Request->dispatch_path is called, which resolves to Plack::Request->path). This has the consquence that resources with a slash (encoded as %2f) are decoded before matching, as Plack decodes this: https://metacpan.org/pod/distribution/PSGI/PSGI/FAQ.pod#Why-is-PATH_INFO-URI-decoded. For other backends this is undefined, or dependent

[2015-10-30 13:41] yanick opened #1051 "Investigate alternative to the global app's 'dance'"
Must try to see if there's a less convoluted way of doing it.

[2015-11-01 13:24] xsawyerx commented on #1051
I'm not sure what this ticket is meant to highlight. We have a better alternative to the `dance` keyword. The problem I described in emails is how we currently support the `dance` keyword to make it still work the way it should despite it being a bad practice.

What I want is to have to go through less hoops in order to support the `dance` keyword, or to remove it entirely. Does this relate to the

[2015-11-01 14:25] yanick commented on #1051
Yes. The main point of the ticket is a ntoe for myself to look and see what we're doing right now, and see if/how I can improve on it.

[2015-11-03 11:01] mickeyn opened #1052 "serializer + before_serializer weird behavior"
tried to set the ref to be serialized in the before_serializer hook rather than the route handler, didn't work so well.

here's a minimized version to show the problem:
code: http://pastebin.com/5Gg3CSQS
output: http://pastebin.com/wmcFwbaZ

bug?

[2015-11-03 12:30] xsawyerx commented on #1052
Nope.

    package BUG;
    use Dancer2;
    set serializer => 'JSON';

    hook before_serializer => sub {
        $_[0] = { blah => 'blah' };
    };

    get '/' => sub {
        print STDERR "do nothing in the route handler\n";
    };

[2015-11-03 12:33] mickeyn commented on #1052
thanks @xsawyerx ;)

so what happens here is that $content is passed to the hook (undefined value), since @_ is aliasing the same input variable (which is later passed to the serializer) we can set it there.
nice.

[2015-11-03 12:34] xsawyerx commented on #1052
@mickeyn++ Thanks for adding an explanation of how it works!

[2015-11-03 13:34] mickeyn commented on #1052
ok, checked and this doesn't really work (@xsawyerx - we only checked a generalized function call outside this problem scope).

problem 1:
since the hook is executed through an intermediate execute_hook which copies @_ into @args and passes *it* down to the hook code, $_[0] is not an alias to the original $content (that's created in 'around serialize').

(minor) problem 2:
there's a check on $cont

[2015-11-05 16:45] gingerhot opened #1054 "serializer error when set serializer as "JSON""
I run "dancer2 -a appname" to create a new app, then "bin/app.pl", it works well.
Then I add "serializer: JSON" to config.yml , and I get a blank page in browser and have such error info:

[code]

### my Perl version

[code]

### my Dancer2 version
[code]

And I tested it in a Ubuntu system, and same errors occurred.  Could you help me out of this?
Thanks~

[2015-11-05 18:33] mickeyn commented on #1054
hi @gingerhot,

Out of the box, the generated app created a route handler for " get '/' " which renders a template and returns the (string) output of its HTML processing.
As this returned content is not a ref (hash/array) the JSON serializer doesn't handle it.
What you need is to alter this part in the handler - try replacing the line:
    template ...;
with:
    return +{ ... };

[2015-11-06 01:55] rleir commented on #1003
Hi Jason, if I hear you right, this issue should get closed. When you get a moment, thanks!

[2015-11-06 09:34] gingerhot commented on #1054
@mickeyn Thanks for your reply~
It seems that the serializer in Dancer2 behaves differently with Dancer1?
But the serializer config is global, If I set it to "JSON", what I should do when I really need the keyword "template" to render a page?

Thanks.

[2015-11-06 10:16] mickeyn commented on #1054
Why do you need a global serializer configuration, rather than per app? (you can have your JSON serving apps set it and the others not - seems to me like the right way to go here)

I'm not sure why you want to render a template in a JSON context, but even if you do - the way you use it (the OOTB example) is as a return value (which is not a ref, and JSON.pm doesn't like it - that's your set serial

[2015-11-06 10:34] gingerhot commented on #1054
thanks~
I think I got you, but my case is in the app there're some pages, and there're also some handlers for ajax requests, it's a mixture... so when I set serializer in config.yml,  it's a global setting in the app. I don't know how to construct it...

[2015-11-06 10:49] mickeyn commented on #1054
so what I suggest is have 2 apps, in one use "set serializer => 'JSON'" (not in config) and have it serve your ajax routes and the other without it to serve the HTML pages.

I highly recommend reading some of the articles in our last years' advent calendar as a good best-practices source for your API goals.
check out http://advent.perldancer.org/2014

[2015-11-06 11:00] veryrusty commented on #1054
There is one other option which is useful when the number of routes needing to serialize their response is _small_ [ think O(1) ]; do not set a serializer and use `Dancer2::Plugin::SendAs` to do the serialization on those routes.

If you find you are using `send_as` too often, then do as @mickeyn suggests; restructure into 2 apps.

[2015-11-06 13:05] gingerhot commented on #1054
@mickeyn Thanks a lot !  I'll read the advent articles.

@veryrusty I got it, very good advice, I'd have a try, thanks~

[2015-11-06 13:05] #1054 closed

[2015-11-06 13:34] rleir commented on #919
The 'dance' keyword does not seem to be necessary, in fact my tests fail when it is in my code. This is off-topic; I recommend the dancer-users mailing list.

Did my comment on Oct 8 cover the confdir issue? If so, let's close this issue and focus on #408 . Thanks -- Rick

[2015-11-06 13:40] cromedome commented on #919
Andrew/Rick,

Andrew: sorry for the delay in responding to this.

I have actually started a somewhat ambitious project to deal with the list of config related issues… covering confdir, issue 408, and more.

I should have a branch pushed on my fork sometime this weekend, I hope, and you can both see what I am working towards. Your feedback/input/patches will certainly be welcome.

Rick: I am not as

[2015-11-10 22:15] rleir commented on #901
Did the fix work? Close this when you get a moment, thanks!

[2015-11-11 01:27] veryrusty commented on #901
It's still broken; and on my December hacking list to resolve. Deleting engines is a hacky workaround that I can't recommend.

[2015-11-11 15:27] mickeyn opened #1055 "HVM and empty arrays in serialized body values"
We have a small problem with HVM creation from deserialized body (tested with JSON) -
when the value of a JSON key is an empty array ([]), HVM will take it as an empty list of values so you can't represent it back as an arrayref or more importantly, diffrentiate it from a non-existing key in the JSON.

In the (deprecated) params, we still get it right.

example:

[code]

output:

[code]

Any thoug

[2015-11-11 21:23] xsawyerx commented on #1055
If I recall correctly, we do this instead of `new` because if someone provides `foo` twice, we store it as arrayref instead of multi value key.

[2015-11-11 21:27] mickeyn commented on #1055
can you add the same key twice in serialized structure?

[2015-11-11 21:39] xsawyerx commented on #1055
The difference is that if you do it the way you suggest, then `foo=1&foo=2` becomes `foo=[1,2]` instead of `foo=1` (for `get`) and `foo=1,2` (for `get_all`).

[2015-11-11 21:39] xsawyerx commented on #1055
I'm not sure I'm making myself clear, but probably not well at this hour.

[2015-11-11 22:07] mickeyn commented on #1055
I was talking about the JSON that we deserialize from the body.

a side note, even if the JSON spec allows it, the serializer module we use doesn't support it anyway.

[2015-11-12 12:38] mickeyn opened #1056 "(bug?) should we fall back in body parsing when deserialization fail?"
When we fail to deserialize body content, we fall back to the "regular" body parsing (through Plack::Request) - this may lead to unexpected results (we're reading the content not as intended).

Shouldn't we settle for an error / empty body when we have a serializer set and we fail to deserialize the body?

example:

[code]

with valid JSON:

[code]

with invalid JSON (removed the last '}'):

[code

[2015-11-12 16:38] mickeyn commented on #1056
forgot to mention this also comes with server log errors for the failed deserialization (as expected).

[2015-11-13 10:23] veryrusty commented on #1056
@mickeyn++ I'm not keen on the current behaviour and would like to see this cleaned up (or at least simplified). I've been considering (but lacked the tuits to try) reversing the current order, and doing (roughly):
  * If the request is `application/x-www-form-urlencoded` or `multipart/form-data`, then let HTTP::Body or similar do its thing, otherwise
  * let the serializer engine (if defined) do

[2015-11-13 10:26] szabgab opened #1057 "dzil test changes README.mkdn"
I just ran ```dzil test``` and it modified README.mkdn

If it is an auto-generated file then I think it should not be committed to git.

[2015-11-13 10:38] veryrusty commented on #1050
@basbloemsaat sorry for being tardy with a response - I've got another 10 or so days of work I need to get finished before I can give this further thought and/or a sensible response.

Note that Catalyst has an option to allow using REQUEST_URI (which is off be default), see their docs on its `use_request_uri_for_path` config option; seems to be pros and cons either way.

Its possible that using a

[2015-11-13 12:24] basbloemsaat commented on #1050
I agree there seem to be pros and cons either way. Another "solution" could be to note it in the documentation as a limitation or caveat.

The reason I raised an issue is that I encountered this and it took me a lot of time to track it down. Whatever we decide, I aim to make it a smoother experience for other people encountering this.

[2015-11-13 12:34] szabgab opened #1059 "Allow the configuration of templating system during run-time"
e.g. in the ```before``` hook. by somthing like this:
[code]

[2015-11-14 23:08] emil-perhinschi commented on #901
" delete $dsl->response->{serializer} ("

is not a fix, it is a workaround, the only way to get rid of the serializer when you want to return HTML

[2015-11-14 23:15] veryrusty commented on #901
@emil-perhinschino that is not the case. One solution to this is `Dancer2::Plugin::SendAs`.

[2015-11-15 18:22] szabgab opened #1061 "dancer2 --help does not mention the actual available options"
Neither -a nor -s

[2015-11-15 18:24] szabgab opened #1062 "dancer2 -s skel -a My::App does not work"
```dancer2 -s skel -a My::App``` does not work

I have to put ```-a``` first:

```dancer2  -a My::App  -s skel``` works

IMHO the order of options should not matter.

[2015-11-17 12:44] mickeyn commented on #1056
@veryrusty: I think it's bad if the server dies on failure to deserialize esp. in the case of invalid user input.

[2015-11-18 00:58] logust79 opened #1065 "Won't upload files"
The most recent version (0.163000) stopped uploading files.

    post '/foo' => sub {
        my $file = upload('upload');
        return (Dumper $file).' '.params->{upload};
    };

would return

    $VAR1 = undef; Untitled.txt
If I call `$file->filename` or `$file->content`, it will simply throw an error, saying I'm calling method on an undefined value as `$file`. Did I do something wrong?

`par

[2015-11-18 01:38] perldj commented on #1065
I use:
my $requestParams = request->params;
my $filename = $requestParams->{'files'};
my $upload_dir = '/tmp/';
my $filename =
my $file2 = request->upload('files');
then
$file2->copy_to( $upload_dir . $filename );

From something like:
<form method="post" id="fileinfo" name="fileinfo" onsubmit="return submitForm();">
        <input type="file" name="files" required />
        <input type="submit"

[2015-11-18 01:53] veryrusty commented on #1065
@logust79 Are you setting the appropriate enctype attribute on your form? e.g.
[code]

[2015-11-18 08:15] logust79 commented on #1065
Strange. Things still not working for me. It gives:

    Can't call method "copy_to" on an undefined value at test_app.pl line 16.

This is what I do:

In test_app.pl:

    use Dancer2;

    get '/test' => sub {
		# this is the get content
		template 'test.tt', {

		};
    };

    post '/test' => sub {
        my $requestParams = request->params;
        my $filename = $requestParams->{'files'};

[2015-11-18 08:20] logust79 commented on #1065
@veryrusty Magic!! I missed `enctype`!! Thank you so much!!

[2015-11-18 08:20] #1065 closed

[2015-11-18 10:39] Relequestual commented on #1050
@bigpresh This issue exists in D1 also. Should a seperate issue be created?

[2015-11-18 22:24] cromedome commented on #1061
I don't think it mentions thought because they are options to the subcommand "gen."

[2015-11-19 09:06] logust79 opened #1067 "Plack can't pick up the config.yml settings. (Dancer2 0.163000)"
Hello,
When I run my app as standalone, it causes no trouble. But when I call it with Plack or Starman, it failed to pick up the settings from config.yml. And all the `appdir` `view_dir` and `public_dir` are set to home directory by Plack. After changing the dirs to the correct ones in my app, it still doesn't work. This is only a problem with MacOS 10.11. It is no problem when I run it on Ubuntu.

[2015-11-19 09:59] veryrusty commented on #1067
I think this is due to the way Dancer2 determines where its located. Dancer2 uses a(n ugly) heuristic for find directories, starting from where the current file is and working up the directory structure looking for ./bin *and* ./lib dirs  (defaulting to '.' if nothing is found).  Dancer2 also looks for a `.dancer` file (its content is not important).

Looking at your dumped config, try
[code]
and

[2015-11-19 22:41] logust79 commented on #1067
@veryrusty
Many thanks! This solved my problem!

[2015-11-19 22:41] #1067 closed

[2015-11-23 12:17] veryrusty commented on #1056
@mickeyn I meant "let the serialization die".  One day I'll learn to English ;)

I've taken a first pass at implementing what I proposed above. I'll clean it up and push it for review later in the week.

[2015-11-23 12:36] mickeyn commented on #1056
@veryrusty cool!

[2015-11-27 22:33] rleir commented on #1016
Interesting, thanks for mentioning this. Maybe a bug, maybe not.

Anyhow, I would be inclined to use this syntax (from the manual) (did not try it) instead of undef:

"For a safer alternative you can use lexical prefix like this:

    prefix '/home' => sub {
        ## Prefix is set to '/home' here

        get ...;
        get ...;
    };
    ## prefix reset to the previous version here

[2015-12-06 05:33] djzort commented on #890
In Dancer2/Config.pod:

B<port (int)>

The port Dancer2 will listen to. Default value is 3000.

 $ cat app.pl
 use Dancer2;
 set port => 3002;
 dance;

If using L<plackup> to run your program, this setting can be provided on the command-line with the I<--port> switch.

In Dancer2/Cookbook.pod:

=head2 NON-STANDARD STEPS(?)
=head3 Port that your server listens on

If using L<plackup>, this setting

[2015-12-08 08:51] mickeyn opened #1068 "should we support method override?"
this should be an easy one, what do you think - shall we add override support in D2?
http://flask.pocoo.org/docs/0.10/patterns/methodoverrides/

[2015-12-08 09:15] mickeyn commented on #1068
ok, this is not required as we have plack middleware to do that

[2015-12-08 09:15] #1068 closed

[2015-12-08 10:06] veryrusty commented on #1068
@mickeyn++  :smile:

[2015-12-13 15:42] slashbeast commented on #1046
Hello,

Have you managed to do anything regarding this issue? Should the documentation be changed or dancer2 aligned to support that?

[2015-12-16 19:22] xsawyerx commented on #1062
Agreed.

[2015-12-16 19:25] xsawyerx commented on #1062
#1063 merged, fixes this. Thanks for the report!

[2015-12-16 19:25] #1062 closed

[2015-12-16 19:59] xsawyerx commented on #1061
This is how [App::Cmd](https://metacpan.org/pod/App::Cmd) applications work. As @cromedome noted, it's not the options of `dancer2`, but of `dancer2 gen`.

[code]

Closing.

[2015-12-16 19:59] #1061 closed

[2015-12-16 20:32] xsawyerx commented on #1059
The reason you can't set it in a `before` hook is because it's **request-time**. In fact, you **are** setting it, but the engine doesn't have the current request. If you were to call the `set_request`, it will work:

    app->template_engine->set_request( request );

When a request begins, we set the current request in every engine. If you change it in the `before` hook it means we have to check f

[2015-12-16 20:36] xsawyerx commented on #1057
It is required to be in the Git repo so Github will show it when you access the page. That part is by design.

It's generated by [Dist::Zilla::Plugin::ReadmeFromPod](https://metacpan.org/pod/Dist::Zilla::Plugin::ReadmeFromPod). We cannot change this, so I recommend opening a ticket for it creating it on `dzil test` on the appropriate [Github repo](https://github.com/fayland/dist-zilla-plugin-readm

[2015-12-16 20:36] #1057 closed

[2015-12-16 20:37] xsawyerx commented on #1052
@mickeyn Is this fixed by #1053?

[2015-12-16 20:41] xsawyerx commented on #1056
@veryrusty Is there a PR for that branch anywhere?

[2015-12-16 20:45] xsawyerx commented on #1039
I think those are good ideas. To summarize:

* Currently `headers` accesses the response headers.
* Introduce `response_headers` to access the response headers more explicitly.
* Deprecate ambiguous `headers`.
* Introduce `request_headers` to access the request headers.

Votes?

Pinging (in no particular order):
@racke @mickeyn @veryrusty @sukria @shumphrey @cromedome @ambs @SysPete @bigpresh @dam

[2015-12-16 20:46] xsawyerx commented on #1046
@cromedome ping. :)

[2015-12-16 21:08] racke commented on #1039
On 12/16/2015 10:05 PM, Sawyer X wrote:

+1

--
Perl and Dancer Development

Visit our Perl::Dancer conference 2015.
More information on https://www.perl.dance.

[2015-12-16 21:09] ambs commented on #1039
It it keeps things working for now, go for it. :-)

[2015-12-16 21:29] xsawyerx commented on #1036
Currently the dispatcher adds the `DANCER_APPHANDLER` line. When I try it, it works. When I remove that line too, it also works.

Can you give us a reproduceable configuration?

[2015-12-16 22:02] xsawyerx commented on #1052
I guess so. :)

[2015-12-16 22:02] #1052 closed

[2015-12-16 22:20] xsawyerx commented on #1039
@ambs We still haven't resolved what "deprecation" means, but as said previously, it could stay deprecated forever, as long as it's not in the way. :)

[2015-12-16 22:35] xsawyerx opened #1073 "Cookie thoughts"
Some ideas:

* Use [Cookie::Baker](https://metacpan.org/pod/Cookie::Baker). (Already used and required by Plack)
* Remove overloading in the Cookie object?
* Add `values` attribute to cookies.
* Deprecate calling `value` in list context.
* Immutabilize cookies.

[2015-12-17 07:00] hvoers commented on #1036
What is your 'environment'?  Is it 'production'?

[2015-12-17 10:05] mickeyn commented on #1039
+1 (tuurlijk)

[2015-12-17 10:10] SysPete commented on #1039
+1 for request_headers/response_headers

[2015-12-17 18:13] dams commented on #1039
+1

[2015-12-17 22:48] veryrusty commented on #1039
+1 for request_headers/response_headers

[2015-12-17 22:54] veryrusty commented on #1039
Do we leave `push_header`, or rename that `push_response_header` ?

[2015-12-17 23:01] mickeyn commented on #1039
@veryrusty++

I vote for renaming (as in keep the old one with deprecation warning for a while) so the DSL moves towards having clearer meaning names.

[2015-12-19 18:07] rleir commented on #574
Was there any development here in the last year? If it is just a question, then the users list will help. If not, then I would like to see a better example of code that shows the problem. Thanks!

[2015-12-19 18:09] cromedome commented on #1046
Sorry @slashbeast, $day_job has been in the way of getting this done. For now, perhaps we should patch the docs for now and fix it in an upcoming release. What do you think?

[2015-12-19 22:07] #1003 closed

[2015-12-20 22:14] veryrusty commented on #1056
@xsawyerx not yet, I got distracted with seasonal festivities.  I need to go back over it; from memory its the docs that are lacking :(

[2015-12-21 15:06] melezhik commented on #994
Hi I have just uploaded a sparrow plugin to run regression tests against sample dancer2 application - https://sparrowhub.org/info/swat-dancer2?v=0.000002 , please tell me what you think about it, and if this could be useful for dancer2 development? Don't hesitate ask any questions, here in github or by email. Sparrow/swat could be  good way to run a dedicated tests suites in Dancer2 development. T

[2015-12-21 18:16] szabgab commented on #1059
I found another solution to my problem.

[2015-12-21 18:16] #1059 closed

[2015-12-21 19:12] xsawyerx commented on #1059
@szabgab Could you please share your problem and the solution you found?

[2015-12-24 10:47] xsawyerx commented on #1039
:+1: for rename `push_header` as `push_response_header`, the way @mickeyn described it.

[2015-12-26 09:48] xsawyerx opened #1078 "Update plugins from old plugin system to new plugin system"
This is a ticket to track all the plugins that do not work on the new plugin system.

[2015-12-26 09:48] xsawyerx commented on #619
We need this ticket refreshed with latest data. Anyone up for it?

This ticket is also **only** about plugins that simply don't work on recent versions of Dancer2 and is **not** about changing from the previous plugin system to the new plugin system. However, if a plugin is updated and works on the new system, please add it to #1078.

[2015-12-26 13:57] ambs opened #1079 "Return empty string instead of "0""
Hi
If a route returns "0", it gets "" at the end.
This is something recent, but looking to the commit descriptions didn't find the reason why.

Is this a feature or a bug? If it is a but (I think so) I can dig it up. Should be a missing call to `defined`.

[2015-12-26 14:18] xsawyerx commented on #1079
I would classify this as a bug!

[2015-12-26 14:34] ambs commented on #1079
Faster than I though.

[2015-12-28 15:50] SysPete commented on #1078
:-1: Passphrase: [Github](https://github.com/hvoers/Dancer2-Plugin-Passphrase)
[code]

[2015-12-28 15:59] SysPete commented on #1078
:-1: Deferred

This plugin does:
`use Dancer2::Plugin qw(:no_dsl);`
which is what breaks things. If `:no_dsl` is removed then tests all pass. It also passes against 0.165 with this change.

[2015-12-28 16:36] SysPete commented on #1078
:-1: Auth::Extensible: [Github](https://github.com/PerlDancer/Dancer2-Plugin-Auth-Extensible)
Same issue as Passphrase:
[code]

[2015-12-28 16:50] SysPete commented on #1078
:-1: Auth::OAuth: [Github](https://github.com/b10m/p5-Dancer2-Plugin-Auth-OAuth)
PR submitted to remove 'use Dancer2' https://github.com/b10m/p5-Dancer2-Plugin-Auth-OAuth/pull/7
Once patch is applied breaks in the same way as Passphrase and Auth::Extensible.

[2015-12-28 17:09] SysPete commented on #1078
:-1: DBIC: [Github](https://github.com/ironcamel/Dancer2-Plugin-DBIC)
[code]
Due to this in the test:
`use Dancer2::Plugin::DBIC qw(schema resultset);`
Simple fix is to remove import list.

[2015-12-29 08:41] SysPete commented on #1078
:-1: Feed: [Github](https://github.com/hobbestigrou/Dancer2-Plugin-Feed)
Just need to remove `use Dancer2`. PR submitted.https://github.com/hobbestigrou/Dancer2-Plugin-Feed/pull/5

[2015-12-29 10:56] SysPete commented on #1078
:-1: JWT: [Github](https://github.com/ambs/Dancer2-Plugin-JWT)

Two problems here. One was solved by using `plugin_setting` DSL:
[code]
That change is in the master branch of my fork: https://github.com/SysPete/Dancer2-Plugin-JWT

Still leaves the `Use of uninitialized value $Dancer2::Plugin::CUR_PLUGIN...` as in other plugins^^

[2015-12-29 12:28] rleir commented on #822
Has there been any news on this?  What was planned for the registry structure? Thanks

[2015-12-29 12:56] SysPete commented on #1078
:-1: Redis: [Github](https://github.com/burnersk/Dancer2-Plugin-Redis)

`use strictures 1` along with `plugin_args` deprecation notice causes exceptions. Removing use of `plugin_args` fixes all problems.

[PR with fix](https://github.com/burnersk/Dancer2-Plugin-Redis/pull/6)

[2015-12-29 13:32] SysPete commented on #1078
:-1: REST: [Github](https://github.com/perldancer/Dancer2-Plugin-REST)

Diff is pretty simple:

remove `use Dancer2`
[code]

PR: https://github.com/PerlDancer/Dancer2-Plugin-REST/pull/12

[2015-12-29 14:13] yanick commented on #1078
PerlDancer/Dancer2-Plugin-REST

Using the new `plugin_keyword` keyword triggers a warning that using the DSL is deprecated. (see `t/04_helpers.t`)

https://github.com/yanick/Dancer2-Plugin-REST/compare/master...PerlDancer:d2?expand=1

[2015-12-29 17:06] xsawyerx commented on #1078
So we're waiting for D2P2 to be released before `Dancer2::Plugin::REST` gets a new release?

[2015-12-29 17:08] xsawyerx commented on #1078
What @SysPete was tracking was how to make the most minimal changes to get the next version running without changing it to D2P2. Then it can be released already before D2P2 is released.

[2015-12-29 17:57] yanick commented on #1078
On 2015-12-29 12:08 PM, Sawyer X wrote:

Sure. Will release the patch in a few minutes.

[2015-12-30 00:41] xsawyerx commented on #1078
@SysPete I fixed the uninitialized warning!

[2015-12-30 09:30] SysPete commented on #1078
On 30/12/15 01:41, Sawyer X wrote:

Excellent! Will start going back through them.

[2015-12-30 12:18] racke commented on #1078
Dancer2::Plugin::DBIC has been released with @SysPete's patch.

[2015-12-30 12:24] hvoers commented on #1078
On Wed, 30 Dec 2015, Stefan Hornburg (Racke) wrote:

... and on it's way to the FreeBSD ports-tree :)

[2015-12-30 12:32] hvoers commented on #1078
Passphrase has been released on CPAN and on its way to FreeBSD.
Next port: Auth::Extensible

[2015-12-30 12:49] hvoers commented on #1078
Auth::Extensible  @racke Is version 0.402 the one that is D2P2 ready?

[2015-12-30 12:51] racke commented on #1078
On 12/30/2015 01:49 PM, Henk van Oers wrote:

It doesn't have any special patches for D2P2, so it is uncertain. I'll check that.

Regards
	Racke

--
Perl and Dancer Development

Visit our Perl::Dancer conference 2015.
More information on https://www.perl.dance.

[2015-12-30 12:56] racke commented on #1078
It throws a lot of warnings:

[code]

[2015-12-30 13:32] racke opened #1083 "Configuration missing for plugins inside plugins"
I tested the Dancer2::Plugin::Auth::Extensible topic/plugin2 against the latest copy of Dancer2, plugins-yanick.
Unfortunately a plugin inside plugin misses its configuration when used. The plugin is included like that:

[code]

[2015-12-30 13:40] shumphrey commented on #1078
For ProgressStatus, I have a branch that uses new style. I hadn't merged it yet but I can do that now

[2015-12-30 14:44] xsawyerx commented on #1078
Throwing warnings is on purpose. It's like that so you would have to upgrade. The warnings will only be thrown if someone uses an older version of the plugin (which uses the older D2::P plugin interface) while the new D2::P interface is available.

This means that you release this version now - no warnings yet. We release a new version of Dancer2 with the new D2::P and then you have warnings until

[2015-12-30 14:56] racke commented on #1078
Yes, sounds like a good plan.

[2015-12-30 15:24] hvoers commented on #1078
Thus that mean that after the release of the new Dancer2 with the new D2::P all the plugins need a new version?
Will D2::P::Passphrase version 3.2.2 need a next version?

[2015-12-30 19:58] xsawyerx commented on #1078
When we introduce a new feature, we start by deprecating the old one. This means supporting it but warning that it's deprecated. After a while we stop supporting it. That's what we do every time.

The plugins system is not different. The new Dancer2 version will still support plugins written in the old syntax, but will warn that they are deprecated. This gives you a chance to release new versions

[2015-12-30 21:42] xsawyerx commented on #1078
@SysPete Your JWT fork works.

[2015-12-30 21:43] xsawyerx commented on #1078
@hvoers I see the latest Passphrase release doesn't actually use the new syntax, it's just in compatibility mode. You don't need to bump the Dancer2 requirement there. At some point the module will have to start using the new syntax.

[2015-12-30 21:57] hvoers commented on #1078
On Wed, 30 Dec 2015, Sawyer X wrote:

I am sorry to read that I was wasting time on unusable modules :(

[2015-12-30 22:07] xsawyerx commented on #1078
@hvoers What do you mean?

[2015-12-30 22:37] hvoers commented on #1078
@xsawyerx  I use Passphrase and DBIC in D1 plugins.
I still can not use them in D2.

I also wasted the time of FreeBSD port committers.
I am not going to do that again.
Auth::Extensible will stay at version 0.401

I hope D2 is ready before Xmas.

[2015-12-30 22:45] xsawyerx commented on #1078
@hvoers Your work is not wasted at all and I'm sorry you feel this way. I think there had been some miscommunication here.

Passphrase, the version you just released, *works* on new versions of Dancer2. However, at least one issue I know **you** cared very much about (plugins within plugins) is fixed with a new plugin system that - once we release this version - you could use. This plugin system s

[2015-12-30 23:46] xsawyerx commented on #1083
There is a test for it in the code. I wonder why that test passes and this code doesn't.

[2015-12-30 23:48] xsawyerx commented on #1048
@yanick I think this is done, no?

Might be related to #1083.

[2015-12-31 05:38] yanick commented on #1048
Yup, it is.

[2015-12-31 05:38] #1048 closed

[2015-12-31 16:19] wyoung opened #1086 "Requirement for encode_base64url() in MIME::Base64 implies version 3.11"
This function wasn't added to MIME::Base64 until version 3.11, but the version requirement isn't explicit in Dancer2. On trying to run Dancer2 on my CentOS 5 system, which ships MIME::Base64 version 3.07, you get an obscure "internal server error" complaint in the browser when trying to view even the sample Dancer2 app. ("dancer2 -a app")

[2015-12-31 18:52] xsawyerx commented on #1078
@SysPete Assigned you since you're in charge here anyway. :)
(And thanks for the awesome work!)

[2015-12-31 19:54] xsawyerx opened #1087 "Move to `HTTP::XSCookies` (was: Move to `Cookie::Baker`)"
New versions of [Plack](https://metacpan.org/pod/Plack) require and use [Cookie::Baker](https://metacpan.org/pod/Cookie::Baker), which also has an XS backend. I wanted to move to replace `Dancer2::Core::Cookie` with it for a while now - now seems like a good time.

[2015-12-31 19:55] xsawyerx commented on #1086
:+1: Nice discovery!

[2015-12-31 19:55] xsawyerx commented on #1083
@yanick what says you?

[2015-12-31 19:58] xsawyerx commented on #1046
This is considered a bug. I'll work on it.

[2015-12-31 21:45] yanick commented on #1083
Do we have a test anywhere that highlight this problem?

Once we have a test, my  first instinct would to try it with my original branch and see if it works there.

[2016-01-01 10:56] veryrusty commented on #1086
Our `dist.ini` has contained a minimum version for MIME::Base64 since Feb 2013:
[code]

@wyoung how did you install Dancer2 on that CentOS5 system ?

[2016-01-01 17:29] wyoung commented on #1086
@veryrusty: I believe I used cpanm, and it couldn't have been any earlier than December 2013, when I first started evaluating Dancer. I don't have access to the machine to check versions right now, since I'm home for the long weekend, but it was probably more recently than that.

I have a CentOS 5 test VM here, and I installed Dancer2 via cpanm on it. It replaced the platform-default version of MI

[2016-01-01 17:29] #1086 closed

[2016-01-01 19:57] xsawyerx commented on #1086
@wyoung No reason not to add it. Would you like to submit a PR? I'll merge it right away.

[2016-01-01 20:00] xsawyerx commented on #1083
@racke Any chance of writing a test for it?

[2016-01-02 00:06] xsawyerx opened #1090 "Move away from `HTTP::Body`"
I've been wanting to do this for a very long time.

`Plack` did this in https://github.com/plack/Plack/pull/537.

[2016-01-02 00:21] xsawyerx commented on #33
I've been playing with this tonight, and given #1088 merging, the [following gist](https://gist.github.com/xsawyerx/e0095c87e0da26196f61) provides a simple implementation of it.

I would be happy to put this in a plugin, or possibly in core, but we would need to resolve two things:

* The new keyword for defining these (went with `named_route` for the example).
* Whether to use `uri_for` or provid

[2016-01-02 03:28] veryrusty commented on #1090
Totally agree! @xsawyerx++

The merged PR for `Plack` is https://github.com/plack/Plack/pull/538

[2016-01-02 03:34] veryrusty commented on #1090
I was about to revise my `refactor/request_body_parsing` branch which removed HTTP::Body from Dancer2::Core::Request.. I'll go check the impact that of using HTTP::Entity::Parser on that work :)

[2016-01-02 10:27] racke commented on #1083
On 01/01/2016 09:00 PM, Sawyer X wrote:

Yes, just give me a bit of time.

Regards
	Racke

--
Perl and Dancer Development

Visit our Perl::Dancer conference 2015.
More information on https://www.perl.dance.

[2016-01-02 10:34] veryrusty commented on #1090
Just updated Plack locally to its latest release (1.0039). Plack::Request still uses HTTP::Body even though was released after the above merge..  #weird.

[2016-01-02 10:36] veryrusty commented on #1090
D'Oh. Plack 1.0039 was a bugfix release..  No 'new feature' release has been made for Plack since the PR to remove HTTP::Body was merged.

[2016-01-02 10:51] xsawyerx commented on #1090
@veryrusty Thank you for looking into this and (hopefully) taking it on. :)

[2016-01-02 10:52] veryrusty commented on #1090
Challenge accepted :)

[2016-01-02 10:52] xsawyerx commented on #1083
Thank you! :)

[2016-01-02 10:52] xsawyerx commented on #1090
@veryrusty++

[2016-01-02 11:11] racke commented on #1083
I updated Dancer2::Plugin::Auth::Extensible topic/plugin2, so we get now a clear error message:

[code]

[2016-01-02 12:11] racke commented on #1083
OK, I added a test file. If you comment out the `$plugin->config` call in `BUILD` sub, all tests are passing.

[2016-01-02 17:04] yanick commented on #33
First and foremost, I like the idea. Makes things a little more tidy
then the uris accumulate. :-)

Thoughts and suggestions:

* If you want to incoporate this into core,
you don't even need a registery of the routes like
in the gist, but can add a 'named_route' attribute
to the route itself.

* You don't really need to filter out the HEAD when it's called
on 'get', as both the HEAD and GET will h

[2016-01-02 17:06] yanick commented on #33
btw, the second bullet above also takes care of `any`, which will work just fine (as all its routes will share the same route specs)

[2016-01-02 17:14] xsawyerx commented on #33
If we were considering this for core, adding it as an attribute in the Route object would be easier. I was trying to make it decoupled from the Route object. Giving an identifier for Routes I think makes sense, and I've suggested that in #1088.

Two additional quick comments:

* Good catch on the regex. I would use the same regexp used in `Core::Route`: `/:([^\/\.\?]+)/`.
* Splat and megasplat sho

[2016-01-02 17:39] yanick commented on #1083
The test was setting its config for the app in the name `main`, not `AppInsidePlugin`...

PR at PerlDancer/Dancer2-Plugin-Auth-Extensible#40

[2016-01-02 17:49] yanick commented on #33
On 2016-01-02 12:14 PM, Sawyer X wrote:

Then use `*` as the key in the hash. I think it's fair to say that `:*`
is not a valid named parameter.

:-( That gives me the sads, as it prevents things like

	named_route 'creature',
	get '/classification/**' => sub {
		...;
	}

	# later on in template

	my $uri = named_route_uri( creature => [qw/
		Animalia
		Chordata
		Mammalia
		Carnivora
		Caniformia

[2016-01-02 20:11] xsawyerx commented on #33
On Sat, Jan 2, 2016 at 6:49 PM, Yanick Champoux
<notifications@github.com> wrote:

That's a good idea! That can solve that part.

It wasn't a final decision, just what I figured at the time. :)

Happy to be find myself wrong.

Hmm... is this a practical example?

Aren't you just using `**` and `named_route_uri` for simply doing a
`uri_for("/Animalia/Chodata/Mammalia/Carnivora/Caniformia/Ursidae/Al

[2016-01-02 20:13] xsawyerx commented on #33
On Sat, Jan 2, 2016 at 6:49 PM, Yanick Champoux

That's a good idea! That can solve that part.

It wasn't a final decision, just what I figured at the time. :)

Happy to be find myself wrong.

Hmm... is this a practical example?

Aren't you just using `**` and `named_route_uri` for simply doing a
`uri_for("/Animalia/Chodata/Mammalia/Carnivora/Caniformia/Ursidae/Aliuropoda")`?

[2016-01-02 20:23] xsawyerx commented on #1083
:raised_hands:

[2016-01-03 00:15] yanick commented on #33
On 2016-01-02 03:13 PM, Sawyer X wrote:

It's not from a real app, but it's something I do from time to time.
There are two types of megasplats that I would use in RESTish routes.
When I have an object that has a strict but not always identical
hierarchical structure. Like the animal classification above, or say

	/location/MilkyWay/Sol/Earth/Canada/Ontario

And there is the case where I can pass

[2016-01-03 00:55] xsawyerx commented on #33
Alright. Convinced. :)

We still need to pick the best naming for everything. Coding is easy, naming is hard. :/

[2016-01-03 18:22] xsawyerx commented on #822
@rleir Props for keeping the issue alive!

The new registry structure should focus first on the path, then on the method. This will allow producing better results when the path is available but the method is not (which should return 405 for Method not Available).

I'm not sure what I was thinking regarding the comment I made about a possible cache once we do the restructure of the registry, to be

[2016-01-04 12:42] xsawyerx commented on #1013
The risk of allowing templates to be rendered outside a request is that you might want to render a template that requires something available in a request (the request object, the request stash, etc.).

I'm not sure why calling the `set template` after the `before` hook causes a crash, though...

[2016-01-04 15:00] SysPete commented on #1078
:-1: Adapter: [Github](https://github.com/PerlDancer/dancer2-plugin-adapter)

No more `use Dancer2` and stop using deprecated `plugin_args` and `var` DSL.

[PR with fix](https://github.com/PerlDancer/dancer2-plugin-adapter/pulls)

[2016-01-04 18:04] SysPete commented on #1078
Cache::CHI [Github](https://github.com/yanick/Dancer2-Plugin-Cache-CHI)

Specify D2 min version in dist.ini since we cannot 'use Dancer2', make sure `request` keyword is called via `$dsl->app->request` and use fully-qualified hook name in `execute_hook`.

[PR with fixes](https://github.com/yanick/Dancer2-Plugin-Cache-CHI/pull/8)

[2016-01-04 18:22] SysPete commented on #1078
ConditionalCaching: [Github]

All fine but with deprecation warnings.

[PR to remove deprecation warnings](https://github.com/zurborg/libdancer2-plugin-conditionalcaching-perl/pull/1)

[2016-01-04 21:03] xsawyerx commented on #1013
I see the problem happens because setting the `before` hook clears the variables used later in the template. I'm trying to solve it without having to allow calling `template` outside a request.

[2016-01-04 23:40] xsawyerx commented on #1013
I have a fix for review in #1092. @b10m++ @SysPete++

[2016-01-05 07:11] b10m commented on #1013
:+1: Seems to work for me. @xsawyerx++ for the digging (I know how horrible it must've been to debug this ;)

[2016-01-05 07:11] #1013 closed

[2016-01-05 07:16] xsawyerx commented on #1013
@b10m Your test made it exceedingly easier - especially the note on location of `set` statement vs `hook`. :)

[2016-01-05 10:15] SysPete commented on #1078
ElasticSearch

Remove `:no_dsl` pragma from `use Dancer2::Plugin`

[PR](https://github.com/Weborama/Dancer2-Plugin-ElasticSearch/pull/1)

[2016-01-05 11:40] veryrusty commented on #1013
Thanks for the initial report and your suggested fix @b10m!

[2016-01-05 12:48] veryrusty commented on #1079
Closed by #1082.

@ambs++ for reporting and thanks for the initial PR!.

[2016-01-05 12:48] #1079 closed

[2016-01-05 13:25] xsawyerx commented on #1078
@SysPete Pushed the **plugins-yanick** branch after a rebase. It includes the fix to #1013. You will need to delete your local copy and fetch&&checkout the new one:

    git br -D plugins-yanick
    git fetch
    git checkout -b plugins-yanick origin/plugins-yanick

[2016-01-06 16:12] abeverley opened #1093 "Unable to include relative TT templates from within another template"
#1037 removed the default include path for TT templates. Whilst there were good reasons for this, it now means that by default a relative template cannot be included from another template. E.g. any application that was doing ```[% PROCESS another_template.tt %]``` will now be broken.

The simple fix is to define ```INCLUDE_PATH``` in the TT config. This is undesirable though, as it requires an abs

[2016-01-06 19:23] abeverley commented on #1093
So, I'm going to try and summarise the issues and potential solutions:

1. Using ```set views => 'myviews'``` with a relative path did not work. This was because ```config->{views}``` was normally configured as an absolute path (built by Dancer on start-up). The config value was passed both to TT for its include path and also used to generate absolute path names passed to TT for each page render.

[2016-01-06 20:16] xsawyerx commented on #1083
@racke May we close this ticket?

[2016-01-06 20:19] xsawyerx commented on #1093
@veryrusty You're being assigned to this because you know way more than I do what's going on with this.

@abeverley, excellent write-up!

[2016-01-06 20:26] abeverley commented on #1093
@veryrusty - just to clarify my 2 comments, the first describes the problem, but has a bad proposed solution so ignore it. The second gives the real detail and some better proposals.

[2016-01-07 08:28] racke commented on #1093
On 01/06/2016 09:19 PM, Sawyer X wrote:

My suggestion would be to revert the change causing the problem if we can't find a
better solution in the next few days.

Regards
	Racke

--
Perl and Dancer Development

Visit our Perl::Dancer conference 2015.
More information on https://www.perl.dance.

[2016-01-07 08:30] racke commented on #1083
On 01/06/2016 09:16 PM, Sawyer X wrote:

We should fix the failing test on t/plugin2/inside-plugin.t first.

Regards
	Racke

--
Perl and Dancer Development

Visit our Perl::Dancer conference 2015.
More information on https://www.perl.dance.

[2016-01-07 12:23] veryrusty commented on #1093
@racke reverting is going to break any apps relying on the patch for resolving #951.

Its all relative. #951 wanted relative paths for `views`. The patch in #1037 broke relative paths within templates (even `[% INCLUDE foo.tt %]` is relative to _something_). I'm going to revisit my approach in #955 over the coming weekend.

To be honest, I'm not concerned about some deployment options (like FastCG

[2016-01-08 12:13] yet-another-random-username opened #1094 "dancer2 gen should not be silent and/or not talk to the outside world (by default)"
I'm a newbie to dancer2 and today I started creating my first app. The box I attempted to generate the template on was closed off to the outside world which meant that when I ran it, it hung as it was attempting to talk to cpan.

This left me confused and it took me using strace to figure out what was wrong.

As such it'd be nice if dancer2 gen was more verbose about what it was doing and/or just

[2016-01-08 13:23] xsawyerx commented on #1094
Thank you for opening the ticket!

I agree having proper output to know what it is doing is helpful (especially if reaching the outside world). As for not doing so, there is a command line option for that. We optimize for the common user and the common user has internet and would like to know if it's an out-of-date version.

[2016-01-08 13:27] yet-another-random-username commented on #1094
No strong feelings about not doing it. Message, though, strong(ish) feelings. :)

I'd recommend mentioning the option in any message relating to the outside-world call. Will make it easy for ppl who just don't care and want a template to begin work.

[2016-01-08 13:30] xsawyerx commented on #1094
Like I said, there is an option to control that in the command line and say *don't check the outside world, I don't care*. The default is to do so. That's all.

As for the message, we're already in agreement. :)

Would you like to help create a pull request for it?

[2016-01-08 13:36] yet-another-random-username commented on #1094
It you want to wait until next week, sure. :) :) It's unlikely that I'll get to it over the weekend. Today is done with, tomorrow is rib and movie day and Sunday is recovery from rib and movie day. :)

[2016-01-08 13:57] xsawyerx commented on #1094
Since this wasn't asked until now, I believe there is no rush on it. The benefit of waiting for you for it is worthwhile. :)

We will be happy to wait for your contribution! :)

[2016-01-08 21:06] rleir commented on #1035
I suggest using JWT tokens. Actually, use them for all secure sites! IMHO

[2016-01-09 12:06] veryrusty commented on #1093
#1095 has a proposed fix, which is a revert of #1037 and inclusion of #955 with some extra goodness.

It adds a new config option
[code]

That prepends that path to the (generated) list for `INCLUDE_PATH` (yes, take care with the lower/upper case). That should allow relative views specified in development but the inclusion of a absolute path in production environments when the deployment choice do

[2016-01-09 14:27] aka-raj commented on #1093
So just to be clear, the proposed fix means that development env would revert to behaving exactly as it always did prior to 0.164/5, and only deployment under fastcgi would require include_path: /absolute/path/to/templates ?

Any scope for setting an environment variable to the absolute path in the fastcgi config (eg apache2.conf) as I already do for PLACK_ENV and PERL5LIB ?

[2016-01-09 20:36] veryrusty commented on #1093
@aka-raj Yes. Use `$ENV{DANCER_VIEWS}` to set the default for the `views` setting.

[2016-01-09 20:48] aka-raj commented on #1093
Thanks. Proposed fix OK for me then.

[2016-01-09 21:43] abeverley commented on #1093
On Sat, 2016-01-09 at 06:27 -0800, aka-raj wrote:

It's better than that. fastcgi is exactly how it was too. You only need
to configure the absolute path within fastcgi if you are using a
relative ```views``` configuration, which was never supported before
anyway.

[2016-01-09 23:04] aka-raj commented on #1093
Getting better every clarification :)

[2016-01-10 14:20] xsawyerx commented on #1083
@yanick ping on the failing test?

[2016-01-10 14:31] xsawyerx commented on #599
This is an old braindump and the plugin system *has* been rewritten and available in #1010 and waiting to be merged, so I'm closing this outdated issue.

[2016-01-10 14:31] #599 closed

[2016-01-10 14:40] xsawyerx commented on #672
Since we haven't received an update on this, I'm closing the issue.

If it comes again, or if you can provide us with an example of it failing, please reopen the issue or open a new one.

Thank you. :)

[2016-01-10 14:40] #672 closed

[2016-01-10 16:02] yanick commented on #1083
On 2016-01-10 09:20 AM, Sawyer X wrote:

Fixed.

[2016-01-10 16:20] xsawyerx commented on #1083
Thanks!

[2016-01-10 16:20] #1083 closed

[2016-01-10 16:37] xsawyerx commented on #903
I do feel like this was a bit over-engineered, but there was not further discussion on this since created, so it does not seem to spark enough interest.

I'm closing this.

If interest comes up, we can always revisit the issue and reopen.

[2016-01-10 16:37] #903 closed

[2016-01-11 13:08] SysPete opened #1096 "skip named capture tests for Perl < 5.10"
Will create PR shortly

[2016-01-11 13:08] SysPete opened #1097 "Safe::Isa ->$_DOES not yet supported for Perl 5.8"
PR on its way...

[2016-01-11 17:22] xsawyerx commented on #1046
Fix provided in #1100.

[2016-01-11 23:55] veryrusty commented on #1093
Merged fix in #1095. :dancers:

@abeverley++ Thanks again for raising the issue and testing the proposed fix.
Thanks @aka-raj for your input too!

[2016-01-11 23:55] #1093 closed

[2016-01-12 14:20] SysPete opened #1101 "switch to Type::Tiny"
Would a switch from MooX::Types::MooseLike to Type::Tiny be a good idea? I've switched a number of projects over recently for a number of reasons:

- Moose compatibility (not so relevant for Dancer2)
- constraint checks are faster due to use of Sub::Quote::quote_sub inlining
- easily use type constraints for coercion
- Type::Tiny::XS - optional go-faster stripes

[2016-01-12 17:54] #1096 closed

[2016-01-12 17:54] #1097 closed

[2016-01-13 02:50] xsawyerx commented on #1101
I would like to see a benchmark along with it, because that would be my biggest motivation.